USE master
DROP DATABASE IF EXISTS "QuanLyNhaSach"
CREATE DATABASE	QuanLyNhaSach
GO

USE QuanLyNhaSach
GO
CREATE TABLE NhaCungCap
(
	maNhaCC varchar(50) PRIMARY KEY,
	tenNhaCC nvarchar(50) NULL,
	trangThai bit NOT NULL,
	diaChi nvarchar(255) NULL,
	email varchar(50) NULL,
	soDienThoai varchar(12) NULL,
	tenNguoiLienHe nvarchar(50) NULL
) 
GO

CREATE TABLE SanPham
(
	maSanPham varchar(13) PRIMARY KEY,
	tenSanPham nvarchar(255) NULL,
	danhMuc nvarchar(255) NULL,
	maNhaCC varchar(50) NULL,
	gia float NOT NULL,
	donViTinh nvarchar(20) NULL,
	soLuong int NOT NULL,
	tacGia nvarchar(50) NULL,
	soTrang int NULL,
	namXuatBan int NULL,
	nhaXuatBan nvarchar(100) NULL,
	hinhAnh varchar(255) NULL,
	trangThai bit NULL,
	moTa nvarchar(255) NULL,

	CONSTRAINT FK_NhaCungCap_SanPham FOREIGN KEY (maNhaCC) REFERENCES NhaCungCap(maNhaCC)
)
GO

CREATE TABLE CaLamViec (
    maCaLamViec VARCHAR(10) PRIMARY KEY,
    tenCa NVARCHAR(50) NOT NULL,
    thoiGianVao TIME NOT NULL,
    thoiGianRa TIME NOT NULL
);

GO

CREATE TABLE KhuyenMai
(
	maKhuyenMai varchar(50) PRIMARY KEY,
	tenChuongTrinh nvarchar(255) NULL,
	phanTramKhuyenMai float NULL,
	ngayBatDau date NULL,
	ngayKetThuc date NULL,
	moTa nvarchar(255) NULL,
)
GO

CREATE TABLE KhachHang
(
	maKH varchar(50) PRIMARY KEY,
	tenKH nvarchar(255) NULL,
	soDienThoai varchar(12) NULL,
	email varchar(50) NULL,
	ngaySinh date NULL,
	diaChi nvarchar(255) NULL,
	gioiTinh nvarchar(10) NULL,
	theVip nvarchar(30)NULL,
	ngayDangKy date NULL,
)
GO

Create TABLE TaiKhoan
(
	maTK varchar(50) PRIMARY KEY,
	tenDangNhap varchar(100) NULL,
	matKhau varchar(255) NULL,
	quyen varchar(50) NULL,
	trangThaiTaiKhoan nvarchar(50) NULL,
)
GO

Create TABLE NhanVien
(
	maNV varchar(50) PRIMARY KEY,
	tenNV nvarchar(255) NULL,
	soDienThoai varchar(12) NULL,
	email varchar(50) NULL,
	ngaySinh date NULL,
	maTK varchar(50) NULL,
	diaChi nvarchar(255) NULL,
	gioiTinh nvarchar(10) NULL,
	chucVu nvarchar(50) NULL,
	trangThai nvarchar(50) NULL,
	ngayVaoLam date NULL,
	Luong INT NULL,

	CONSTRAINT FK_TaiKhoan_NhanVien FOREIGN KEY (maTK) REFERENCES TaiKhoan(maTK),
)
GO
CREATE TABLE LichLamViec (
    maNV varchar(50) REFERENCES NhanVien(maNV),
    maCaLamViec  VARCHAR(10) REFERENCES CaLamViec(MaCaLamViec),
    ngay date,
    PRIMARY KEY (maNV, maCaLamViec, ngay)
);
GO
CREATE TABLE DonDatHang
(
	maDonHang varchar(50) PRIMARY KEY,
	maKH varchar(50) NULL,
	maNV varchar(50) NULL,
	maKhuyenMai varchar(50) NULL,
	ngayDatHang date NULL,
	soDienThoai varchar(12) NULL,
	trangThai nvarchar(50) NULL,
	ghiChu nvarchar(255) NULL

	
	CONSTRAINT FK_KhachHang_DonDatHang FOREIGN KEY (maKH) REFERENCES KhachHang(maKH),
	CONSTRAINT FK_NhanVien_DonDatHang FOREIGN KEY (maNV) REFERENCES NhanVien(maNV),
	CONSTRAINT FK_KhuyenMai_DonDatHang FOREIGN KEY (maKhuyenMai) REFERENCES KhuyenMai(maKhuyenMai)

)
GO

CREATE TABLE ChiTietDonDatHang
(
	maDonHang varchar(50),
	maSanPham varchar(13),
	soLuong int NOT NULL,
	gia float NOT NULL,

	PRIMARY KEY(maDonHang, maSanPham),
	CONSTRAINT FK_DatHang_ChiTietDonDatHang FOREIGN KEY (maDonHang) REFERENCES DonDatHang(maDonHang),
	CONSTRAINT FK_SanPham_ChiTietDonDatHang FOREIGN KEY (maSanPham) REFERENCES SanPham(maSanPham)
) 
GO

CREATE TABLE HoaDon
(
	maHoaDon varchar(50) PRIMARY KEY,
	maKH varchar(50) NULL,
	maNV varchar(50) NULL,
	maKhuyenMai varchar(50) NULL,
	phuongThucThanhToan nvarchar(255) NULL,
	ngayLapHoaDon date NULL,
	soDienThoai varchar(12) NULL,
	trangThai nvarchar(50) NULL,
	ghiChu nvarchar(255) NULL

	
	CONSTRAINT FK_KhachHang_HoaDon FOREIGN KEY (maKH) REFERENCES KhachHang(maKH),
	CONSTRAINT FK_NhanVien_HoaDon FOREIGN KEY (maNV) REFERENCES NhanVien(maNV),
	CONSTRAINT FK_KhuyenMai_HoaDon FOREIGN KEY (maKhuyenMai) REFERENCES KhuyenMai(maKhuyenMai)

)
GO

CREATE TABLE ChiTietHoaDon
(
	maHoaDon varchar(50),
	maSanPham varchar(13),
	soLuong int NOT NULL,
	gia float NOT NULL,

	PRIMARY KEY(maHoaDon, maSanPham),
	CONSTRAINT FK_HoaDon_ChiTietHoaDon FOREIGN KEY (maHoaDon) REFERENCES HoaDon(maHoaDon),
	CONSTRAINT FK_SanPham_ChiTietHoaDon FOREIGN KEY (maSanPham) REFERENCES SanPham(maSanPham)
) 








-- Chèn dữ liệu
GO

INSERT INTO NhaCungCap (maNhaCC, tenNhaCC, trangThai, diaChi, email, soDienThoai, tenNguoiLienHe)
VALUES ('NCC001', N'Công ty A', 1, N'Địa chỉ A', 'emaila@example.com', '123456789', N'Người A'),
       ('NCC002', N'Công ty B', 1, N'Địa chỉ B', 'emailb@example.com', '987654321', N'Người B'),
	   ('NCC003', N'Công ty 21', 1, N'Địa chỉ C', 'email21@example.com', '123456789', N'Người 21'),
	   ('NCC004', N'Công ty 22', 1, N'Huỳnh Khương An', 'email22@example.com', '123456789', N'Người 22'),
	   ('NCC005', N'Công ty 23', 1, N'Địa chỉ 23', 'email23@example.com', '123456789', N'Người 23');
GO


-- Thêm ca làm việc Sáng
INSERT INTO CaLamViec (maCaLamViec, tenCa, thoiGianVao, thoiGianRa)
VALUES ('CA001', 'Ca 1', '09:00:00', '16:00:00'),
		('CA002', 'Ca 2', '16:00:00', '22:00:00');
GO

INSERT INTO KhuyenMai (maKhuyenMai, tenChuongTrinh, phanTramKhuyenMai, ngayBatDau, ngayKetThuc, moTa)
VALUES ('KM001', N'Khuyến mãi A', 10, '2023-10-11', '2023-10-20', N'Khuyến mãi đầu thu'),
	   ('KM002', N'Khuyến mãi B', 15, '2023-10-14', '2023-10-23', N'Khuyến mãi cuối thu'),
	   ('KM003', N'Khuyến mãi C', 20, '2023-10-15', '2023-10-24', N'Khuyến mãi cuối năm'),
	   ('KM004', N'Khuyến mãi D', 12, '2023-10-16', '2023-10-25', N'Khuyến mãi đầu năm');
GO


INSERT INTO TaiKhoan (maTK, tenDangNhap, matKhau, quyen, trangThaiTaiKhoan)
VALUES ('TK001', 'NV001', 'B59C67BF196A4758191E42F76670CEBA', N'User', N'Đang hoạt động'),
       ('TK002', 'NV002', 'B59C67BF196A4758191E42F76670CEBA', N'User', N'Tạm khóa'),
	   ('TK003', 'NV003', 'B59C67BF196A4758191E42F76670CEBA', N'User', N'Đang hoạt động'),
	   ('TK004', 'NV004', 'B59C67BF196A4758191E42F76670CEBA', N'User', N'Đang hoạt động'),
	   ('TK005', 'NV005', 'B59C67BF196A4758191E42F76670CEBA', N'User', N'Đang hoạt động');
GO

GO


CREATE PROCEDURE InsertProduct
    @maSanPham varchar(13),
    @tenSanPham nvarchar(255),
    @danhMuc nvarchar(255),
    @tenNhaCC varchar(50),
    @gia float,
    @donViTinh nvarchar(20),
    @soLuong int,
    @hinhAnh varchar(255),
    @trangThai bit,
    @moTa nvarchar(255),
	@soTrang int,
    @namXuatBan int,
    @nhaXuatBan nvarchar(100),
	@tacGia nvarchar(50),
	@thongBao int output
AS
BEGIN
    -- Kiểm tra xem mã sản phẩm đã tồn tại chưa
    IF EXISTS (SELECT 1 FROM SanPham WHERE maSanPham = @maSanPham)
    BEGIN
        SET @thongBao = 1;
        RETURN;
    END;

    -- Kiểm tra xem mã nhà cung cấp có tồn tại không
    IF NOT EXISTS (SELECT 1 FROM NhaCungCap WHERE tenNhaCC LIKE '%'+@tenNhaCC+'%')
    BEGIN
        SET @thongBao = 2;
        RETURN;
    END;
	Declare @maNCC varchar(10);
	SELECT @maNCC = maNhaCC FROM NhaCungCap WHERE tenNhaCC LIKE '%Công ty A%';
    -- Thêm sản phẩm mới
    INSERT INTO SanPham (
        maSanPham, 
        tenSanPham, 
        danhMuc, 
        maNhaCC, 
        gia, 
        donViTinh, 
        soLuong, 
        tacGia, 
        soTrang, 
        namXuatBan, 
        nhaXuatBan, 
        hinhAnh, 
        trangThai, 
        moTa
    )
    VALUES (
        @maSanPham, 
        @tenSanPham, 
        @danhMuc, 
        @maNCC, 
        @gia, 
        @donViTinh, 
        @soLuong, 
        @tacGia, 
        @soTrang, 
        @namXuatBan, 
        @nhaXuatBan, 
        @hinhAnh, 
        @trangThai, 
        @moTa
    )

     SET @thongBao = 3;
END;
GO
CREATE TRIGGER updateTaiKhoan_NhanVien
ON NhanVien
AFTER UPDATE
AS
BEGIN
    IF UPDATE (trangThai)
    BEGIN
        -- Cập nhật trạng thái tài khoản thành 'Tạm Khoá' nếu trạng thái nhân viên là 'Đã Nghỉ'
        UPDATE TaiKhoan
        SET trangThaiTaiKhoan = N'Tạm khoá'
        FROM TaiKhoan
        INNER JOIN inserted ON TaiKhoan.maTK = inserted.maTK
        INNER JOIN deleted ON TaiKhoan.maTK = deleted.maTK
        WHERE inserted.trangThai = N'Đã nghĩ' AND deleted.trangThai <> N'Đã nghĩ';
        
        -- Cập nhật trạng thái tài khoản thành 'Bình Thường' nếu trạng thái nhân viên là 'Đang làm'
        UPDATE TaiKhoan
        SET trangThaiTaiKhoan = N'Đang hoạt động'
        FROM TaiKhoan
        INNER JOIN inserted ON TaiKhoan.maTK = inserted.maTK
        INNER JOIN deleted ON TaiKhoan.maTK = deleted.maTK
        WHERE inserted.trangThai = N'Đang làm' AND deleted.trangThai <> N'Đang làm';
    END;
END;
GO
CREATE PROCEDURE CheckLogin(@maNV NVARCHAR(50), @result int output)
AS
BEGIN
    -- Kiểm tra xem nhân viên có phải là quản lý hay không
    IF EXISTS (
        SELECT *
        FROM [NhanVien]
        WHERE [maNV] LIKE @maNV AND chucVu LIKE N'Quản lý'
    )
    BEGIN
       SET @result = 1 -- Nếu là quản lý, trả về 1
    END
    ELSE -- Nếu không phải quản lý, kiểm tra lịch làm việc
    BEGIN
        DECLARE @CurrentDateTime DATETIME = GETDATE();
        DECLARE @Ngay AS DATE = CAST(@CurrentDateTime AS DATE);
        DECLARE @Gio AS TIME = CAST(@CurrentDateTime AS TIME);

        -- Kiểm tra lịch làm việc của nhân viên
        IF EXISTS (
            SELECT 1
            FROM [LichLamViec] AS llv
            JOIN [CaLamViec] AS clv ON llv.[maCaLamViec] = clv.[maCaLamViec]
            WHERE [maNV] = @maNV
              AND [ngay] = @Ngay
              AND @Gio BETWEEN [thoiGianVao] AND [thoiGianRa]
        )
        BEGIN
            SET @result = 1 -- Nếu tìm thấy, trả về 1
        END
        ELSE
        BEGIN
            SET @result = 0 -- Nếu không tìm thấy, trả về 0
        END
    END
END;

GO
CREATE PROCEDURE DoanhThuTuyChinh
	@StartDate DATE = NULL,
    @EndDate DATE = NULL
AS
BEGIN
	IF (@StartDate IS NULL OR @EndDate IS NULL )
	BEGIN
		SELECT
			HD.maHoaDon,
			NV.tenNV,
			KH.tenKH,
			HD.ngayLapHoaDon,
			SUM((CH.soLuong * SP.gia)) As TongTien,
			SUM((CH.soLuong * SP.gia) * COALESCE(KM.phanTramKhuyenMai / 100, 0)) AS GiamGia,
			SUM((CH.soLuong * SP.gia) * COALESCE(1 - KM.phanTramKhuyenMai / 100, 1)) AS TongThanhTien
			
		FROM
			HoaDon HD
			JOIN NhanVien NV ON HD.maNV = NV.maNV
			JOIN KhachHang KH ON HD.maKH = KH.maKH
			JOIN ChiTietHoaDon CH ON HD.maHoaDon = CH.maHoaDon
			JOIN SanPham SP ON CH.maSanPham = SP.maSanPham
			LEFT JOIN KhuyenMai KM ON HD.maKhuyenMai = KM.maKhuyenMai
		GROUP BY
			HD.maHoaDon, NV.tenNV, KH.tenKH, HD.ngayLapHoaDon;
	END;
	ELSE
	BEGIN
		SELECT
			HD.maHoaDon,
			NV.tenNV,
			KH.tenKH,
			HD.ngayLapHoaDon,
			SUM((CH.soLuong * SP.gia)) As TongTien,
			SUM((CH.soLuong * SP.gia) * COALESCE(KM.phanTramKhuyenMai / 100, 0)) AS GiamGia,
			SUM((CH.soLuong * SP.gia) * COALESCE(1 - KM.phanTramKhuyenMai / 100, 1)) AS TongThanhTien
		FROM
			HoaDon HD
			JOIN NhanVien NV ON HD.maNV = NV.maNV
			JOIN KhachHang KH ON HD.maKH = KH.maKH
			JOIN ChiTietHoaDon CH ON HD.maHoaDon = CH.maHoaDon
			JOIN SanPham SP ON CH.maSanPham = SP.maSanPham
			LEFT JOIN KhuyenMai KM ON HD.maKhuyenMai = KM.maKhuyenMai
		WHERE HD.ngayLapHoaDon BETWEEN @StartDate AND @EndDate
		GROUP BY
			HD.maHoaDon, NV.tenNV, KH.tenKH, HD.ngayLapHoaDon;
	END;
END;

GO
CREATE PROCEDURE DoanhThuThangNam
    @Month int,
    @Year int
AS
BEGIN
    IF @Month = 0
    BEGIN
        SELECT
			HD.maHoaDon,
			NV.tenNV,
			KH.tenKH,
			HD.ngayLapHoaDon,
			SUM((CH.soLuong * SP.gia)) As TongTien,
			SUM((CH.soLuong * SP.gia) * COALESCE(KM.phanTramKhuyenMai / 100, 0)) AS GiamGia,
			SUM((CH.soLuong * SP.gia) * COALESCE(1 - KM.phanTramKhuyenMai / 100, 1)) AS TongTien
		FROM
			HoaDon HD
			JOIN NhanVien NV ON HD.maNV = NV.maNV
			JOIN KhachHang KH ON HD.maKH = KH.maKH
			JOIN ChiTietHoaDon CH ON HD.maHoaDon = CH.maHoaDon
			JOIN SanPham SP ON CH.maSanPham = SP.maSanPham
			LEFT JOIN KhuyenMai KM ON HD.maKhuyenMai = KM.maKhuyenMai
	
        WHERE YEAR(HD.ngayLapHoaDon) = @Year
        GROUP BY
			HD.maHoaDon, NV.tenNV, KH.tenKH, HD.ngayLapHoaDon;
    END
    ELSE
    BEGIN
        SELECT
			HD.maHoaDon,
			NV.tenNV,
			KH.tenKH,
			HD.ngayLapHoaDon,
			
			SUM((CH.soLuong * SP.gia)) As TongTien,
			SUM((CH.soLuong * SP.gia) * COALESCE(KM.phanTramKhuyenMai / 100, 0)) AS GiamGia,
			SUM((CH.soLuong * SP.gia) * COALESCE(1 - KM.phanTramKhuyenMai / 100, 1)) AS TongTien
		FROM
			HoaDon HD
			JOIN NhanVien NV ON HD.maNV = NV.maNV
			JOIN KhachHang KH ON HD.maKH = KH.maKH
			JOIN ChiTietHoaDon CH ON HD.maHoaDon = CH.maHoaDon
			JOIN SanPham SP ON CH.maSanPham = SP.maSanPham
			LEFT JOIN KhuyenMai KM ON HD.maKhuyenMai = KM.maKhuyenMai
		
        WHERE MONTH(HD.ngayLapHoaDon) = @Month AND YEAR(HD.ngayLapHoaDon) = @Year
        GROUP BY
			HD.maHoaDon, NV.tenNV, KH.tenKH, HD.ngayLapHoaDon;
    END
END;
GO
CREATE PROCEDURE TimNhaCungCap
    @maNhaCC varchar(50) = NULL,
    @tenNhaCC nvarchar(50) = NULL,
	@email varchar(50) = NULL,
    @soDienThoai varchar(12) = NULL,
    @trangThai INT = NULL
AS
BEGIN
    SELECT *
    FROM NhaCungCap
    WHERE 
        (@maNhaCC IS NULL OR maNhaCC LIKE '%'+@maNhaCC+'%')
        AND (@tenNhaCC IS NULL OR tenNhaCC LIKE '%'+@tenNhaCC+'%')
		 AND (@email IS NULL OR email LIKE '%'+@email+'%' )
        AND (@soDienThoai IS NULL OR soDienThoai LIKE '%'+@soDienThoai+'%' )
        AND (@trangThai IS NULL OR trangThai = @trangThai);
END;

GO
CREATE PROCEDURE TimNhanVien
    @maNhanVien varchar(50) = NULL,
    @tenNhanVien nvarchar(50) = NULL,
	@email varchar(50) = NULL,
    @soDienThoai varchar(12) = NULL,
	@gioiTinh nvarchar(5) = NULL,
	@chucVu nvarchar(20) = NULL,
    @trangThai nvarchar(50) = NULL
AS
BEGIN
    SELECT *
    FROM NhanVien
    WHERE 
        (@maNhanVien IS NULL OR maNV LIKE '%'+@maNhanVien+'%')
        AND (@tenNhanVien IS NULL OR tenNV LIKE '%'+@tenNhanVien+'%')
		 AND (@email IS NULL OR email LIKE '%'+@email+'%' )
        AND (@soDienThoai IS NULL OR soDienThoai LIKE '%'+@soDienThoai+'%' )
		 AND (@gioiTinh IS NULL OR gioiTinh LIKE '%'+@gioiTinh+'%' )
		 AND (@chucVu IS NULL OR chucVu LIKE '%'+@chucVu+'%' )
        AND (@trangThai IS NULL OR trangThai LIKE '%'+@trangThai+'%');
END;
GO


CREATE PROCEDURE PhanCa
    @MaNV varchar(50),
    @MaCaLamViec varchar(50),
    @Ngay date,
	@ThongBao int output
AS
BEGIN
    -- Kiểm tra xem nhân viên đã có ca làm việc trong ngày hôm đó hay chưa
    IF NOT EXISTS (SELECT * FROM LichLamViec WHERE maNV = @MaNV AND ngay = @Ngay)
    BEGIN
        -- Kiểm tra xem ca làm việc đã được phân cho nhân viên khác trong ngày đó hay chưa
        IF NOT EXISTS (SELECT * FROM LichLamViec WHERE maCaLamViec = @MaCaLamViec AND ngay = @Ngay)
        BEGIN
            -- Chưa có ca làm việc cho nhân viên và ca làm việc trong ngày đó
            -- Thêm thông tin phân ca làm việc mới
            INSERT INTO LichLamViec (maNV, maCaLamViec, ngay)
            VALUES (@MaNV, @MaCaLamViec, @Ngay);
           SET @ThongBao = 1
        END
        ELSE
        BEGIN
            SET @ThongBao = 2
        END
    END
    ELSE
    BEGIN
       SET @ThongBao = 3
    END
END;

GO


CREATE PROCEDURE TimSanPham
    @maSanPham VARCHAR(50) = NULL,
    @tenSanPham NVARCHAR(255) = NULL,
    @danhMuc NVARCHAR(255) = NULL,
    @trangThai INT = NULL,
    @gia FLOAT = NULL,
    @nhaXuatBan NVARCHAR(255) = NULL,
    @soTrang INT = NULL,
    @namXuatBan INT = NULL,
    @tacGia NVARCHAR(255) = NULL
AS
BEGIN
	SELECT
		[maSanPham],
		[tenSanPham],
		[danhMuc],
		[maNhaCC],
		[gia],
		[donViTinh],
		[soLuong],
		[tacGia],
		[soTrang],
		[namXuatBan],
		[nhaXuatBan],
		[hinhAnh],
		[trangThai],
		[moTa]
	FROM
		SanPham
	WHERE
		(@maSanPham IS NULL OR [maSanPham] LIKE '%'+@maSanPham+'%')
		AND (@tenSanPham IS NULL OR [tenSanPham] LIKE '%'+@tenSanPham+'%')
		AND ( @danhMuc IS NULL OR  danhMuc LIKE '%'+@danhMuc+'%' )
		AND (@trangThai IS NULL OR [trangThai] = @trangThai)
		AND (@gia IS NULL OR [gia] = @gia OR @gia = 0)
		AND (@nhaXuatBan IS NULL OR [nhaXuatBan] LIKE '%'+@nhaXuatBan+'%')
		AND (@soTrang IS NULL OR [soTrang] = @soTrang OR @soTrang = 0)
		AND (@namXuatBan IS NULL OR [namXuatBan] = @namXuatBan OR @namXuatBan = 0)
		AND (@tacGia IS NULL OR [tacGia] LIKE '%' + @tacGia + '%');
		

END;

GO
CREATE PROCEDURE [dbo].[DoanhThuNhanVienThangNam]
    @Option INT = NULL,
    @maNV VARCHAR(10) = NULL,
    @Month INT = NULL,
    @Year INT = NULL
AS
BEGIN
    IF (@Option = 0)
    BEGIN
        SELECT
            NV.maNV,
            NV.tenNV,
            COUNT(DISTINCT HD.maHoaDon) AS soDonHang,
            SUM((CH.soLuong * SP.gia)) AS TongTien,
            SUM((CH.soLuong * SP.gia) * COALESCE(KM.phanTramKhuyenMai / 100, 0)) AS GiamGia,
            SUM((CH.soLuong * SP.gia) * COALESCE(1 - KM.phanTramKhuyenMai / 100, 1)) AS ThanhTien
        FROM
            HoaDon HD
            JOIN NhanVien NV ON HD.maNV = NV.maNV
            JOIN KhachHang KH ON HD.maKH = KH.maKH
            JOIN ChiTietHoaDon CH ON HD.maHoaDon = CH.maHoaDon
            JOIN SanPham SP ON CH.maSanPham = SP.maSanPham
            LEFT JOIN KhuyenMai KM ON HD.maKhuyenMai = KM.maKhuyenMai
		WHERE NV.maNV LIKE '%' + @maNV + '%'
              AND ((@Month = 0 AND YEAR(HD.ngayLapHoaDon) = @Year)
               OR (MONTH(HD.ngayLapHoaDon) = @Month AND YEAR(HD.ngayLapHoaDon) = @Year))
        GROUP BY
            NV.maNV, NV.tenNV
    END;

    IF (@Option = 1)
    BEGIN
        -- Lấy top 5 doanh thu theo nhân viên và tháng năm, sắp xếp giảm dần
        SELECT TOP 5
            NV.maNV,
            NV.tenNV,
            COUNT(DISTINCT HD.maHoaDon) AS soDonHang,
            SUM((CH.soLuong * SP.gia)) AS TongTien,
            SUM((CH.soLuong * SP.gia) * COALESCE(KM.phanTramKhuyenMai / 100, 0)) AS GiamGia,
            SUM((CH.soLuong * SP.gia) * COALESCE(1 - KM.phanTramKhuyenMai / 100, 1)) AS ThanhTien
        FROM
            HoaDon HD
            JOIN NhanVien NV ON HD.maNV = NV.maNV
            JOIN KhachHang KH ON HD.maKH = KH.maKH
            JOIN ChiTietHoaDon CH ON HD.maHoaDon = CH.maHoaDon
            JOIN SanPham SP ON CH.maSanPham = SP.maSanPham
            LEFT JOIN KhuyenMai KM ON HD.maKhuyenMai = KM.maKhuyenMai
       	WHERE ((@Month = 0 AND YEAR(HD.ngayLapHoaDon) = @Year)
               OR (MONTH(HD.ngayLapHoaDon) = @Month AND YEAR(HD.ngayLapHoaDon) = @Year))
        GROUP BY
            NV.maNV, NV.tenNV
        ORDER BY ThanhTien DESC
    END;

    IF (@Option = 2)
    BEGIN
        -- Lấy top 5 doanh thu theo nhân viên và tháng năm, sắp xếp tăng dần
        SELECT TOP 5
            NV.maNV,
            NV.tenNV,
            COUNT(DISTINCT HD.maHoaDon) AS soDonHang,
            SUM((CH.soLuong * SP.gia)) AS TongTien,
            SUM((CH.soLuong * SP.gia) * COALESCE(KM.phanTramKhuyenMai / 100, 0)) AS GiamGia,
            SUM((CH.soLuong * SP.gia) * COALESCE(1 - KM.phanTramKhuyenMai / 100, 1)) AS ThanhTien
        FROM
            HoaDon HD
            JOIN NhanVien NV ON HD.maNV = NV.maNV
            JOIN KhachHang KH ON HD.maKH = KH.maKH
            JOIN ChiTietHoaDon CH ON HD.maHoaDon = CH.maHoaDon
            JOIN SanPham SP ON CH.maSanPham = SP.maSanPham
            LEFT JOIN KhuyenMai KM ON HD.maKhuyenMai = KM.maKhuyenMai
       WHERE ((@Month = 0 AND YEAR(HD.ngayLapHoaDon) = @Year)
               OR (MONTH(HD.ngayLapHoaDon) = @Month AND YEAR(HD.ngayLapHoaDon) = @Year))
        GROUP BY
            NV.maNV, NV.tenNV
        ORDER BY ThanhTien ASC
    END;
END;
GO
CREATE PROCEDURE [dbo].[DoanhThuNhanVienTuyChinh]
	@StartDate DATE = NULL,
    @EndDate DATE = NULL,
	@Option INT = NULL,
	@maNV varchar(10) = NULL
AS
BEGIN
	IF (@StartDate IS NULL OR @EndDate IS NULL )
	BEGIN
		IF (@Option = 0)
		BEGIN 
			SELECT
			NV.maNV,
			NV.tenNV,
			COUNT(DISTINCT HD.maHoaDon) AS soDonHang,
			SUM((CH.soLuong * SP.gia)) AS TongTien,
			SUM((CH.soLuong * SP.gia) * COALESCE(KM.phanTramKhuyenMai / 100, 0)) AS GiamGia,
			SUM((CH.soLuong * SP.gia) * COALESCE(1 - KM.phanTramKhuyenMai / 100, 1)) AS ThanhTien
       
			FROM
				HoaDon HD
				JOIN NhanVien NV ON HD.maNV = NV.maNV
				JOIN KhachHang KH ON HD.maKH = KH.maKH
				JOIN ChiTietHoaDon CH ON HD.maHoaDon = CH.maHoaDon
				JOIN SanPham SP ON CH.maSanPham = SP.maSanPham
				LEFT JOIN KhuyenMai KM ON HD.maKhuyenMai = KM.maKhuyenMai
			WHERE NV.maNV LIKE  '%'+@maNV+'%'
			GROUP BY
				NV.maNV, NV.tenNV
		END;
		IF (@Option = 1) 
		BEGIN
			SELECT
			TOP 5
			NV.maNV,
			NV.tenNV,
			COUNT(DISTINCT HD.maHoaDon) AS soDonHang,
			SUM((CH.soLuong * SP.gia)) AS TongTien,
			SUM((CH.soLuong * SP.gia) * COALESCE(KM.phanTramKhuyenMai / 100, 0)) AS GiamGia,
			SUM((CH.soLuong * SP.gia) * COALESCE(1 - KM.phanTramKhuyenMai / 100, 1)) AS ThanhTien
			FROM
				HoaDon HD
				JOIN NhanVien NV ON HD.maNV = NV.maNV
				JOIN KhachHang KH ON HD.maKH = KH.maKH
				JOIN ChiTietHoaDon CH ON HD.maHoaDon = CH.maHoaDon
				JOIN SanPham SP ON CH.maSanPham = SP.maSanPham
				LEFT JOIN KhuyenMai KM ON HD.maKhuyenMai = KM.maKhuyenMai
			GROUP BY
				NV.maNV, NV.tenNV
			ORDER BY ThanhTien DESC
		END;
		IF (@Option = 2) 
		BEGIN
			SELECT
			TOP 5
			NV.maNV,
			NV.tenNV,
			COUNT(DISTINCT HD.maHoaDon) AS soDonHang,
			SUM((CH.soLuong * SP.gia)) AS TongTien,
			SUM((CH.soLuong * SP.gia) * COALESCE(KM.phanTramKhuyenMai / 100, 0)) AS GiamGia,
			SUM((CH.soLuong * SP.gia) * COALESCE(1 - KM.phanTramKhuyenMai / 100, 1)) AS ThanhTien
			FROM
				HoaDon HD
				JOIN NhanVien NV ON HD.maNV = NV.maNV
				JOIN KhachHang KH ON HD.maKH = KH.maKH
				JOIN ChiTietHoaDon CH ON HD.maHoaDon = CH.maHoaDon
				JOIN SanPham SP ON CH.maSanPham = SP.maSanPham
				LEFT JOIN KhuyenMai KM ON HD.maKhuyenMai = KM.maKhuyenMai
			GROUP BY
				NV.maNV, NV.tenNV
			ORDER BY ThanhTien ASC
		END;
	END;
		--Trường hợp có ngày tháng năm đầ đủ
	ELSE
	BEGIN
		IF (@Option = 0)
		BEGIN 
			SELECT
			NV.maNV,
			NV.tenNV,
			COUNT(DISTINCT HD.maHoaDon) AS soDonHang,
			SUM((CH.soLuong * SP.gia)) AS TongTien,
			SUM((CH.soLuong * SP.gia) * COALESCE(KM.phanTramKhuyenMai / 100, 0)) AS GiamGia,
			SUM((CH.soLuong * SP.gia) * COALESCE(1 - KM.phanTramKhuyenMai / 100, 1)) AS ThanhTien
      
			FROM
				HoaDon HD
				JOIN NhanVien NV ON HD.maNV = NV.maNV
				JOIN KhachHang KH ON HD.maKH = KH.maKH
				JOIN ChiTietHoaDon CH ON HD.maHoaDon = CH.maHoaDon
				JOIN SanPham SP ON CH.maSanPham = SP.maSanPham
				LEFT JOIN KhuyenMai KM ON HD.maKhuyenMai = KM.maKhuyenMai
			WHERE NV.maNV LIKE  '%'+@maNV+'%' and (HD.ngayLapHoaDon BETWEEN @StartDate AND @EndDate)
			GROUP BY
				NV.maNV, NV.tenNV
		END;
		IF (@Option = 1) 
		BEGIN
			SELECT
			TOP 5
			NV.maNV,
			NV.tenNV,
			COUNT(DISTINCT HD.maHoaDon) AS soDonHang,
			SUM((CH.soLuong * SP.gia)) AS TongTien,
			SUM((CH.soLuong * SP.gia) * COALESCE(KM.phanTramKhuyenMai / 100, 0)) AS GiamGia,
			SUM((CH.soLuong * SP.gia) * COALESCE(1 - KM.phanTramKhuyenMai / 100, 1)) AS ThanhTien
			FROM
				HoaDon HD
				JOIN NhanVien NV ON HD.maNV = NV.maNV
				JOIN KhachHang KH ON HD.maKH = KH.maKH
				JOIN ChiTietHoaDon CH ON HD.maHoaDon = CH.maHoaDon
				JOIN SanPham SP ON CH.maSanPham = SP.maSanPham
				LEFT JOIN KhuyenMai KM ON HD.maKhuyenMai = KM.maKhuyenMai
			WHERE (HD.ngayLapHoaDon BETWEEN @StartDate AND @EndDate)
			GROUP BY
				NV.maNV, NV.tenNV
			ORDER BY ThanhTien DESC
		END;
		IF (@Option = 2) 
		BEGIN
			SELECT
			TOP 5
			NV.maNV,
			NV.tenNV,
			COUNT(DISTINCT HD.maHoaDon) AS soDonHang,
			SUM((CH.soLuong * SP.gia)) AS TongTien,
			SUM((CH.soLuong * SP.gia) * COALESCE(KM.phanTramKhuyenMai / 100, 0)) AS GiamGia,
			SUM((CH.soLuong * SP.gia) * COALESCE(1 - KM.phanTramKhuyenMai / 100, 1)) AS ThanhTien
			FROM
				HoaDon HD
				JOIN NhanVien NV ON HD.maNV = NV.maNV
				JOIN KhachHang KH ON HD.maKH = KH.maKH
				JOIN ChiTietHoaDon CH ON HD.maHoaDon = CH.maHoaDon
				JOIN SanPham SP ON CH.maSanPham = SP.maSanPham
				LEFT JOIN KhuyenMai KM ON HD.maKhuyenMai = KM.maKhuyenMai
			WHERE (HD.ngayLapHoaDon BETWEEN @StartDate AND @EndDate)
			GROUP BY
				NV.maNV, NV.tenNV
			ORDER BY ThanhTien ASC
		END;
	END;
END;
GO
CREATE PROCEDURE [dbo].[CheckPhanCa]
    @MaNV varchar(50),
    @MaCaLamViec varchar(50),
    @Ngay date,
	@ThongBao int output
AS
BEGIN
    -- Kiểm tra xem nhân viên đã có ca làm việc trong ngày hôm đó hay chưa
    IF NOT EXISTS (SELECT * FROM LichLamViec WHERE maNV = @MaNV AND ngay = @Ngay)
    BEGIN
        -- Kiểm tra xem ca làm việc đã được phân cho nhân viên khác trong ngày đó hay chưa
        IF NOT EXISTS (SELECT * FROM LichLamViec WHERE maCaLamViec = @MaCaLamViec AND ngay = @Ngay)
        BEGIN
           SET @ThongBao = 1
        END
        ELSE
        BEGIN
            SET @ThongBao = 2
        END
    END
    ELSE
    BEGIN
       SET @ThongBao = 3
    END
END;

-------------------------------------------------------------------------------------------------------------------san pham da ban
GO
CREATE PROCEDURE SanPhamTuyChinh
	@StartDate DATE = NULL,
    @EndDate DATE = NULL
AS
BEGIN
	IF (@StartDate IS NULL OR @EndDate IS NULL )
	BEGIN
		SELECT SanPham.maSanPham, SanPham.tenSanPham, 
        SUM(ChiTietHoaDon.soLuong) AS TongSoLuongBan, 
        SUM(ChiTietHoaDon.soLuong * SanPham.gia) AS DoanhThu
		FROM SanPham
		JOIN ChiTietHoaDon ON SanPham.maSanPham = ChiTietHoaDon.maSanPham
		GROUP BY SanPham.maSanPham, SanPham.tenSanPham
	END;
	ELSE
	BEGIN
	   SELECT  SanPham.maSanPham, SanPham.tenSanPham, 
       SUM(ChiTietHoaDon.soLuong) AS TongSoLuongBan, 
       SUM(ChiTietHoaDon.soLuong * SanPham.gia) AS ThanhTien
	   FROM SanPham
	   JOIN ChiTietHoaDon ON SanPham.maSanPham = ChiTietHoaDon.maSanPham
	   JOIN HoaDon ON ChiTietHoaDon.maHoaDon = HoaDon.maHoaDon
	   WHERE HoaDon.ngayLapHoaDon BETWEEN @StartDate AND @EndDate
	   GROUP BY SanPham.maSanPham, SanPham.tenSanPham
	END;
END;

GO
CREATE PROCEDURE SanPhamThangNam
    @Month int,
    @Year int
AS
BEGIN
    IF @Month = 0
    BEGIN
	   SELECT SanPham.maSanPham, SanPham.tenSanPham, 
       SUM(ChiTietHoaDon.soLuong) AS TongSoLuongBan, 
       SUM(ChiTietHoaDon.soLuong * SanPham.gia) AS ThanhTien
	   FROM SanPham
	   JOIN ChiTietHoaDon ON SanPham.maSanPham = ChiTietHoaDon.maSanPham
	   JOIN HoaDon ON ChiTietHoaDon.maHoaDon = HoaDon.maHoaDon
	   WHERE YEAR(HoaDon.ngayLapHoaDon ) = @Year
	   GROUP BY SanPham.maSanPham, SanPham.tenSanPham
	   
    END
    ELSE
    BEGIN
	   SELECT SanPham.maSanPham, SanPham.tenSanPham, 
       SUM(ChiTietHoaDon.soLuong) AS TongSoLuongBan, 
       SUM(ChiTietHoaDon.soLuong * SanPham.gia) AS ThanhTien
	   FROM SanPham
	   JOIN ChiTietHoaDon ON SanPham.maSanPham = ChiTietHoaDon.maSanPham
	   JOIN HoaDon ON ChiTietHoaDon.maHoaDon = HoaDon.maHoaDon
	   WHERE MONTH(HoaDon.ngayLapHoaDon) = @Month AND YEAR(HoaDon.ngayLapHoaDon) = @Year
	   GROUP BY SanPham.maSanPham, SanPham.tenSanPham
    END
END;

---------------------------------------------------------------------------------------------------------------------- top 5 san pham ban chay
GO
CREATE PROCEDURE SanPhamTuyChinhBanNhieu
	@StartDate DATE = NULL,
    @EndDate DATE = NULL
AS
BEGIN
	IF (@StartDate IS NULL OR @EndDate IS NULL )
	BEGIN
		SELECT TOP 5 SanPham.maSanPham, SanPham.tenSanPham, 
        SUM(ChiTietHoaDon.soLuong) AS TongSoLuongBan, 
        SUM(ChiTietHoaDon.soLuong * SanPham.gia) AS ThanhTien
		FROM SanPham
		JOIN ChiTietHoaDon ON SanPham.maSanPham = ChiTietHoaDon.maSanPham
		JOIN HoaDon ON ChiTietHoaDon.maHoaDon = HoaDon.maHoaDon
		GROUP BY SanPham.maSanPham, SanPham.tenSanPham
		ORDER BY TongSoLuongBan DESC;
	END;
	ELSE
	BEGIN
	    SELECT TOP 5 SanPham.maSanPham, SanPham.tenSanPham, 
        SUM(ChiTietHoaDon.soLuong) AS TongSoLuongBan, 
        SUM(ChiTietHoaDon.soLuong * SanPham.gia) AS ThanhTien
		FROM SanPham
		JOIN ChiTietHoaDon ON SanPham.maSanPham = ChiTietHoaDon.maSanPham
		JOIN HoaDon ON ChiTietHoaDon.maHoaDon = HoaDon.maHoaDon
		WHERE HoaDon.ngayLapHoaDon BETWEEN @StartDate AND @EndDate
		GROUP BY SanPham.maSanPham, SanPham.tenSanPham
		ORDER BY TongSoLuongBan DESC;
	END;
END;

GO
CREATE PROCEDURE SanPhamThangNamBanNhieu
    @Month int,
    @Year int
AS
BEGIN
    IF @Month = 0
    BEGIN
		 SELECT TOP 5 SanPham.maSanPham, SanPham.tenSanPham, 
        SUM(ChiTietHoaDon.soLuong) AS TongSoLuongBan, 
        SUM(ChiTietHoaDon.soLuong * SanPham.gia) AS ThanhTien
		FROM SanPham
		JOIN ChiTietHoaDon ON SanPham.maSanPham = ChiTietHoaDon.maSanPham
		JOIN HoaDon ON ChiTietHoaDon.maHoaDon = HoaDon.maHoaDon
		WHERE YEAR(HoaDon.ngayLapHoaDon ) = @Year
		GROUP BY SanPham.maSanPham, SanPham.tenSanPham
		ORDER BY TongSoLuongBan DESC;
    END
    ELSE
    BEGIN
		 SELECT TOP 5 SanPham.maSanPham, SanPham.tenSanPham, 
        SUM(ChiTietHoaDon.soLuong) AS TongSoLuongBan, 
        SUM(ChiTietHoaDon.soLuong * SanPham.gia) AS ThanhTien
		FROM SanPham
		JOIN ChiTietHoaDon ON SanPham.maSanPham = ChiTietHoaDon.maSanPham
		JOIN HoaDon ON ChiTietHoaDon.maHoaDon = HoaDon.maHoaDon
		WHERE MONTH(HoaDon.ngayLapHoaDon) = @Month AND YEAR(HoaDon.ngayLapHoaDon) = @Year
		GROUP BY SanPham.maSanPham, SanPham.tenSanPham
		ORDER BY TongSoLuongBan DESC;
    END
END;

--------------------------------------------------------------------------------------------------------------------------- top 5 san pham ban it
GO
CREATE PROCEDURE SanPhamTuyChinhBanIt
	@StartDate DATE = NULL,
    @EndDate DATE = NULL
AS
BEGIN
	IF (@StartDate IS NULL OR @EndDate IS NULL )
	BEGIN
		SELECT TOP 5 SanPham.maSanPham, SanPham.tenSanPham, 
        SUM(ChiTietHoaDon.soLuong) AS TongSoLuongBan, 
        SUM(ChiTietHoaDon.soLuong * SanPham.gia) AS ThanhTien
		FROM SanPham
		JOIN ChiTietHoaDon ON SanPham.maSanPham = ChiTietHoaDon.maSanPham
		JOIN HoaDon ON ChiTietHoaDon.maHoaDon = HoaDon.maHoaDon
		GROUP BY SanPham.maSanPham, SanPham.tenSanPham
		ORDER BY TongSoLuongBan ASC;
	END;
	ELSE
	BEGIN
	    SELECT TOP 5 SanPham.maSanPham, SanPham.tenSanPham, 
        SUM(ChiTietHoaDon.soLuong) AS TongSoLuongBan, 
        SUM(ChiTietHoaDon.soLuong * SanPham.gia) AS ThanhTien
		FROM SanPham
		JOIN ChiTietHoaDon ON SanPham.maSanPham = ChiTietHoaDon.maSanPham
		JOIN HoaDon ON ChiTietHoaDon.maHoaDon = HoaDon.maHoaDon
		WHERE HoaDon.ngayLapHoaDon BETWEEN @StartDate AND @EndDate
		GROUP BY SanPham.maSanPham, SanPham.tenSanPham
		ORDER BY TongSoLuongBan ASC;
	END;
END;

GO
CREATE PROCEDURE SanPhamThangNamBanIt
    @Month int,
    @Year int
AS
BEGIN
    IF @Month = 0
    BEGIN
		 SELECT TOP 5 SanPham.maSanPham, SanPham.tenSanPham, 
        SUM(ChiTietHoaDon.soLuong) AS TongSoLuongBan, 
        SUM(ChiTietHoaDon.soLuong * SanPham.gia) AS ThanhTien
		FROM SanPham
		JOIN ChiTietHoaDon ON SanPham.maSanPham = ChiTietHoaDon.maSanPham
		JOIN HoaDon ON ChiTietHoaDon.maHoaDon = HoaDon.maHoaDon
		WHERE YEAR(HoaDon.ngayLapHoaDon ) = @Year
		GROUP BY SanPham.maSanPham, SanPham.tenSanPham
		ORDER BY TongSoLuongBan ASC;
    END
    ELSE
    BEGIN
		 SELECT TOP 5 SanPham.maSanPham, SanPham.tenSanPham, 
        SUM(ChiTietHoaDon.soLuong) AS TongSoLuongBan, 
        SUM(ChiTietHoaDon.soLuong * SanPham.gia) AS ThanhTien
		FROM SanPham
		JOIN ChiTietHoaDon ON SanPham.maSanPham = ChiTietHoaDon.maSanPham
		JOIN HoaDon ON ChiTietHoaDon.maHoaDon = HoaDon.maHoaDon
		WHERE MONTH(HoaDon.ngayLapHoaDon) = @Month AND YEAR(HoaDon.ngayLapHoaDon) = @Year
		GROUP BY SanPham.maSanPham, SanPham.tenSanPham
		ORDER BY TongSoLuongBan ASC;
    END
END;

--------------------------------------------------------------------------------------------------------------------------- top 5 san pham co doanh thu cao nhat
GO
CREATE PROCEDURE SanPhamTuyChinhDoanhThuNhieu
	@StartDate DATE = NULL,
    @EndDate DATE = NULL
AS
BEGIN
	IF (@StartDate IS NULL OR @EndDate IS NULL )
	BEGIN
		SELECT TOP 5 SanPham.maSanPham, SanPham.tenSanPham, 
       SUM(ChiTietHoaDon.soLuong) AS TongSoLuongBan, 
       SUM(ChiTietHoaDon.soLuong * SanPham.gia) AS ThanhTien
		FROM SanPham
		JOIN ChiTietHoaDon ON SanPham.maSanPham = ChiTietHoaDon.maSanPham
		JOIN HoaDon ON ChiTietHoaDon.maHoaDon = HoaDon.maHoaDon
		GROUP BY SanPham.maSanPham, SanPham.tenSanPham
		ORDER BY ThanhTien DESC;
	END;
	ELSE
	BEGIN
	    SELECT TOP 5 SanPham.maSanPham, SanPham.tenSanPham, 
       SUM(ChiTietHoaDon.soLuong) AS TongSoLuongBan, 
       SUM(ChiTietHoaDon.soLuong * SanPham.gia) AS ThanhTien
		FROM SanPham
		JOIN ChiTietHoaDon ON SanPham.maSanPham = ChiTietHoaDon.maSanPham
		JOIN HoaDon ON ChiTietHoaDon.maHoaDon = HoaDon.maHoaDon
		WHERE HoaDon.ngayLapHoaDon BETWEEN @StartDate AND @EndDate
		GROUP BY SanPham.maSanPham, SanPham.tenSanPham
		ORDER BY ThanhTien DESC;
	END;
END;

GO
CREATE PROCEDURE SanPhamThangNamDoanhThuNhieu
    @Month int,
    @Year int
AS
BEGIN
    IF @Month = 0
    BEGIN
		SELECT TOP 5 SanPham.maSanPham, SanPham.tenSanPham, 
       SUM(ChiTietHoaDon.soLuong) AS TongSoLuongBan, 
       SUM(ChiTietHoaDon.soLuong * SanPham.gia) AS ThanhTien
		FROM SanPham
		JOIN ChiTietHoaDon ON SanPham.maSanPham = ChiTietHoaDon.maSanPham
		JOIN HoaDon ON ChiTietHoaDon.maHoaDon = HoaDon.maHoaDon
		WHERE YEAR(HoaDon.ngayLapHoaDon ) = @Year
		GROUP BY SanPham.maSanPham, SanPham.tenSanPham
		ORDER BY ThanhTien DESC;

    END
    ELSE
    BEGIN
		SELECT TOP 5 SanPham.maSanPham, SanPham.tenSanPham, 
       SUM(ChiTietHoaDon.soLuong) AS TongSoLuongBan, 
       SUM(ChiTietHoaDon.soLuong * SanPham.gia) AS ThanhTien
		FROM SanPham
		JOIN ChiTietHoaDon ON SanPham.maSanPham = ChiTietHoaDon.maSanPham
		JOIN HoaDon ON ChiTietHoaDon.maHoaDon = HoaDon.maHoaDon
		WHERE MONTH(HoaDon.ngayLapHoaDon) = @Month AND YEAR(HoaDon.ngayLapHoaDon) = @Year
		GROUP BY SanPham.maSanPham, SanPham.tenSanPham
		ORDER BY ThanhTien DESC;
    END
END;

--------------------------------------------------------------------------------------------------------------------------- top 5 san pham co doanh thu it nhat
GO
CREATE PROCEDURE SanPhamTuyChinhDoanhThuIt
	@StartDate DATE = NULL,
    @EndDate DATE = NULL
AS
BEGIN
	IF (@StartDate IS NULL OR @EndDate IS NULL )
	BEGIN
		SELECT TOP 5 SanPham.maSanPham, SanPham.tenSanPham, 
        SUM(ChiTietHoaDon.soLuong) AS TongSoLuongBan, 
        SUM(ChiTietHoaDon.soLuong * SanPham.gia) AS ThanhTien
		FROM SanPham
		JOIN ChiTietHoaDon ON SanPham.maSanPham = ChiTietHoaDon.maSanPham
		JOIN HoaDon ON ChiTietHoaDon.maHoaDon = HoaDon.maHoaDon
		GROUP BY SanPham.maSanPham, SanPham.tenSanPham
		ORDER BY ThanhTien ASC;
	END;
	ELSE
	BEGIN
	    SELECT TOP 5 SanPham.maSanPham, SanPham.tenSanPham, 
       SUM(ChiTietHoaDon.soLuong) AS TongSoLuongBan, 
       SUM(ChiTietHoaDon.soLuong * SanPham.gia) AS ThanhTien
		FROM SanPham
		JOIN ChiTietHoaDon ON SanPham.maSanPham = ChiTietHoaDon.maSanPham
		JOIN HoaDon ON ChiTietHoaDon.maHoaDon = HoaDon.maHoaDon
		WHERE HoaDon.ngayLapHoaDon BETWEEN @StartDate AND @EndDate
		GROUP BY SanPham.maSanPham, SanPham.tenSanPham
		ORDER BY ThanhTien ASC;
	END;
END;

GO
CREATE PROCEDURE SanPhamThangNamDoanhThuIt
    @Month int,
    @Year int
AS
BEGIN
    IF @Month = 0
    BEGIN
		SELECT TOP 5 SanPham.maSanPham, SanPham.tenSanPham, 
       SUM(ChiTietHoaDon.soLuong) AS TongSoLuongBan, 
       SUM(ChiTietHoaDon.soLuong * SanPham.gia) AS ThanhTien
		FROM SanPham
		JOIN ChiTietHoaDon ON SanPham.maSanPham = ChiTietHoaDon.maSanPham
		JOIN HoaDon ON ChiTietHoaDon.maHoaDon = HoaDon.maHoaDon
		WHERE YEAR(HoaDon.ngayLapHoaDon ) = @Year
		GROUP BY SanPham.maSanPham, SanPham.tenSanPham
		ORDER BY ThanhTien ASC;

    END
    ELSE
    BEGIN
		SELECT TOP 5 SanPham.maSanPham, SanPham.tenSanPham, 
       SUM(ChiTietHoaDon.soLuong) AS TongSoLuongBan, 
       SUM(ChiTietHoaDon.soLuong * SanPham.gia) AS ThanhTien
		FROM SanPham
		JOIN ChiTietHoaDon ON SanPham.maSanPham = ChiTietHoaDon.maSanPham
		JOIN HoaDon ON ChiTietHoaDon.maHoaDon = HoaDon.maHoaDon
		WHERE MONTH(HoaDon.ngayLapHoaDon) = @Month AND YEAR(HoaDon.ngayLapHoaDon) = @Year
		GROUP BY SanPham.maSanPham, SanPham.tenSanPham
		ORDER BY ThanhTien ASC;
    END
END;

-------------------------------------------------------------------------------------------------------------------khách hàng đã mua hàng
GO
CREATE PROCEDURE KhachHangTuyChinh
	@StartDate DATE = NULL,
    @EndDate DATE = NULL
AS
BEGIN
	IF (@StartDate IS NULL OR @EndDate IS NULL )
	BEGIN
		SELECT 
    KhachHang.maKH, 
    KhachHang.tenKH, 
    KhachHang.soDienThoai, 
    KhachHang.gioiTinh, 
    KhachHang.ngayDangKy,
    COUNT(DISTINCT HoaDon.maHoaDon) AS soLuongDonHang, 
    SUM(
        CASE
            WHEN HoaDon.maKhuyenMai IS NOT NULL THEN
                chiTietTongTien.TongTien * (1 - KhuyenMai.phanTramKhuyenMai / 100.0)
            ELSE
                chiTietTongTien.TongTien
        END
    ) AS tongTien,
    SUM(chiTietTongTien.TongSoLuong) AS tongSoLuongSanPham -- Đây là cột số lượng sản phẩm
FROM KhachHang
JOIN HoaDon ON KhachHang.maKH = HoaDon.maKH
LEFT JOIN KhuyenMai ON HoaDon.maKhuyenMai = KhuyenMai.maKhuyenMai
LEFT JOIN (
    SELECT ChiTietHoaDon.maHoaDon, SUM(soLuong * gia) AS TongTien, SUM(soLuong) AS TongSoLuong
    FROM ChiTietHoaDon
    GROUP BY ChiTietHoaDon.maHoaDon
) chiTietTongTien ON HoaDon.maHoaDon = chiTietTongTien.maHoaDon
GROUP BY KhachHang.maKH, KhachHang.tenKH, KhachHang.soDienThoai, KhachHang.gioiTinh, KhachHang.ngayDangKy;

	END;
	ELSE
	BEGIN
	   SELECT 
    KhachHang.maKH, 
    KhachHang.tenKH, 
    KhachHang.soDienThoai, 
    KhachHang.gioiTinh, 
    KhachHang.ngayDangKy,
    COUNT(DISTINCT HoaDon.maHoaDon) AS soLuongDonHang, 
    SUM(
        CASE
            WHEN HoaDon.maKhuyenMai IS NOT NULL THEN
                chiTietTongTien.TongTien * (1 - KhuyenMai.phanTramKhuyenMai / 100.0)
            ELSE
                chiTietTongTien.TongTien
        END
    ) AS tongTien,
    SUM(chiTietTongTien.TongSoLuong) AS tongSoLuongSanPham -- Đây là cột số lượng sản phẩm
FROM KhachHang
JOIN HoaDon ON KhachHang.maKH = HoaDon.maKH
LEFT JOIN KhuyenMai ON HoaDon.maKhuyenMai = KhuyenMai.maKhuyenMai
LEFT JOIN (
    SELECT ChiTietHoaDon.maHoaDon, SUM(soLuong * gia) AS TongTien, SUM(soLuong) AS TongSoLuong
    FROM ChiTietHoaDon
    GROUP BY ChiTietHoaDon.maHoaDon
) chiTietTongTien ON HoaDon.maHoaDon = chiTietTongTien.maHoaDon
WHERE HoaDon.ngayLapHoaDon BETWEEN @StartDate AND @EndDate
GROUP BY KhachHang.maKH, KhachHang.tenKH, KhachHang.soDienThoai, KhachHang.gioiTinh, KhachHang.ngayDangKy;
	END;
END;

GO
CREATE PROCEDURE KhachHangThangNam
    @Month int,
    @Year int
AS
BEGIN
    IF @Month = 0
    BEGIN

		SELECT 
    KhachHang.maKH, 
    KhachHang.tenKH, 
    KhachHang.soDienThoai, 
    KhachHang.gioiTinh, 
    KhachHang.ngayDangKy,
    COUNT(DISTINCT HoaDon.maHoaDon) AS soLuongDonHang, 
    SUM(
        CASE
            WHEN HoaDon.maKhuyenMai IS NOT NULL THEN
                chiTietTongTien.TongTien * (1 - KhuyenMai.phanTramKhuyenMai / 100.0)
            ELSE
                chiTietTongTien.TongTien
        END
    ) AS tongTien,
    SUM(chiTietTongTien.TongSoLuong) AS tongSoLuongSanPham -- Đây là cột số lượng sản phẩm
FROM KhachHang
JOIN HoaDon ON KhachHang.maKH = HoaDon.maKH
LEFT JOIN KhuyenMai ON HoaDon.maKhuyenMai = KhuyenMai.maKhuyenMai
LEFT JOIN (
    SELECT ChiTietHoaDon.maHoaDon, SUM(soLuong * gia) AS TongTien, SUM(soLuong) AS TongSoLuong
    FROM ChiTietHoaDon
    GROUP BY ChiTietHoaDon.maHoaDon
) chiTietTongTien ON HoaDon.maHoaDon = chiTietTongTien.maHoaDon
WHERE YEAR(HoaDon.ngayLapHoaDon ) = @Year
GROUP BY KhachHang.maKH, KhachHang.tenKH, KhachHang.soDienThoai, KhachHang.gioiTinh, KhachHang.ngayDangKy;
	   
    END
    ELSE
    BEGIN
	   SELECT 
    KhachHang.maKH, 
    KhachHang.tenKH, 
    KhachHang.soDienThoai, 
    KhachHang.gioiTinh, 
    KhachHang.ngayDangKy,
    COUNT(DISTINCT HoaDon.maHoaDon) AS soLuongDonHang, 
    SUM(
        CASE
            WHEN HoaDon.maKhuyenMai IS NOT NULL THEN
                chiTietTongTien.TongTien * (1 - KhuyenMai.phanTramKhuyenMai / 100.0)
            ELSE
                chiTietTongTien.TongTien
        END
    ) AS tongTien,
    SUM(chiTietTongTien.TongSoLuong) AS tongSoLuongSanPham -- Đây là cột số lượng sản phẩm
FROM KhachHang
JOIN HoaDon ON KhachHang.maKH = HoaDon.maKH
LEFT JOIN KhuyenMai ON HoaDon.maKhuyenMai = KhuyenMai.maKhuyenMai
LEFT JOIN (
    SELECT ChiTietHoaDon.maHoaDon, SUM(soLuong * gia) AS TongTien, SUM(soLuong) AS TongSoLuong
    FROM ChiTietHoaDon
    GROUP BY ChiTietHoaDon.maHoaDon
) chiTietTongTien ON HoaDon.maHoaDon = chiTietTongTien.maHoaDon
WHERE MONTH(HoaDon.ngayLapHoaDon) = @Month AND YEAR(HoaDon.ngayLapHoaDon) = @Year
GROUP BY KhachHang.maKH, KhachHang.tenKH, KhachHang.soDienThoai, KhachHang.gioiTinh, KhachHang.ngayDangKy;	   
    END
END;

---------------------------------------------------------------------------------------------------------------------- Top 5 khách hàng tổng chi cao nhất
GO
CREATE PROCEDURE KhachHangTuyChinhTongChiCaoNhat
	@StartDate DATE = NULL,
    @EndDate DATE = NULL
AS
BEGIN
	IF (@StartDate IS NULL OR @EndDate IS NULL )
	BEGIN
		SELECT TOP 5 
            KhachHang.maKH, 
            KhachHang.tenKH, 
            KhachHang.soDienThoai, 
            KhachHang.gioiTinh, 
            KhachHang.ngayDangKy,
            COUNT(DISTINCT HoaDon.maHoaDon) AS soLuongDonHang, 
            SUM(
                CASE
                    WHEN HoaDon.maKhuyenMai IS NOT NULL THEN
                        chiTietTongTien.TongTien * (1 - KhuyenMai.phanTramKhuyenMai / 100.0)
                    ELSE
                        chiTietTongTien.TongTien
                END
            ) AS tongTien,
            SUM(chiTietTongTien.TongSoLuong) AS tongSoLuongSanPham
        FROM KhachHang
        JOIN HoaDon ON KhachHang.maKH = HoaDon.maKH
        LEFT JOIN KhuyenMai ON HoaDon.maKhuyenMai = KhuyenMai.maKhuyenMai
        LEFT JOIN (
            SELECT ChiTietHoaDon.maHoaDon, SUM(soLuong * gia) AS TongTien, SUM(soLuong) AS TongSoLuong
            FROM ChiTietHoaDon
            GROUP BY ChiTietHoaDon.maHoaDon
        ) chiTietTongTien ON HoaDon.maHoaDon = chiTietTongTien.maHoaDon
        GROUP BY KhachHang.maKH, KhachHang.tenKH, KhachHang.soDienThoai, KhachHang.gioiTinh, KhachHang.ngayDangKy
        ORDER BY tongTien DESC; 
	   
	END;
	ELSE
	BEGIN
	   SELECT TOP 5 
            KhachHang.maKH, 
            KhachHang.tenKH, 
            KhachHang.soDienThoai, 
            KhachHang.gioiTinh, 
            KhachHang.ngayDangKy,
            COUNT(DISTINCT HoaDon.maHoaDon) AS soLuongDonHang, 
            SUM(
                CASE
                    WHEN HoaDon.maKhuyenMai IS NOT NULL THEN
                        chiTietTongTien.TongTien * (1 - KhuyenMai.phanTramKhuyenMai / 100.0)
                    ELSE
                        chiTietTongTien.TongTien
                END
            ) AS tongTien,
            SUM(chiTietTongTien.TongSoLuong) AS tongSoLuongSanPham
        FROM KhachHang
        JOIN HoaDon ON KhachHang.maKH = HoaDon.maKH
        LEFT JOIN KhuyenMai ON HoaDon.maKhuyenMai = KhuyenMai.maKhuyenMai
        LEFT JOIN (
            SELECT ChiTietHoaDon.maHoaDon, SUM(soLuong * gia) AS TongTien, SUM(soLuong) AS TongSoLuong
            FROM ChiTietHoaDon
            GROUP BY ChiTietHoaDon.maHoaDon
        ) chiTietTongTien ON HoaDon.maHoaDon = chiTietTongTien.maHoaDon
		WHERE HoaDon.ngayLapHoaDon BETWEEN @StartDate AND @EndDate
        GROUP BY KhachHang.maKH, KhachHang.tenKH, KhachHang.soDienThoai, KhachHang.gioiTinh, KhachHang.ngayDangKy
        ORDER BY tongTien DESC; 
	END;
END;

GO
CREATE PROCEDURE KhachHangThangNamTongChiCaoNhat
    @Month int,
    @Year int
AS
BEGIN
    IF @Month = 0
    BEGIN
	SELECT TOP 5 
            KhachHang.maKH, 
            KhachHang.tenKH, 
            KhachHang.soDienThoai, 
            KhachHang.gioiTinh, 
            KhachHang.ngayDangKy,
            COUNT(DISTINCT HoaDon.maHoaDon) AS soLuongDonHang, 
            SUM(
                CASE
                    WHEN HoaDon.maKhuyenMai IS NOT NULL THEN
                        chiTietTongTien.TongTien * (1 - KhuyenMai.phanTramKhuyenMai / 100.0)
                    ELSE
                        chiTietTongTien.TongTien
                END
            ) AS tongTien,
            SUM(chiTietTongTien.TongSoLuong) AS tongSoLuongSanPham
        FROM KhachHang
        JOIN HoaDon ON KhachHang.maKH = HoaDon.maKH
        LEFT JOIN KhuyenMai ON HoaDon.maKhuyenMai = KhuyenMai.maKhuyenMai
        LEFT JOIN (
            SELECT ChiTietHoaDon.maHoaDon, SUM(soLuong * gia) AS TongTien, SUM(soLuong) AS TongSoLuong
            FROM ChiTietHoaDon
            GROUP BY ChiTietHoaDon.maHoaDon
        ) chiTietTongTien ON HoaDon.maHoaDon = chiTietTongTien.maHoaDon
		WHERE YEAR(HoaDon.ngayLapHoaDon ) = @Year
        GROUP BY KhachHang.maKH, KhachHang.tenKH, KhachHang.soDienThoai, KhachHang.gioiTinh, KhachHang.ngayDangKy
        ORDER BY tongTien DESC;
    END
    ELSE
    BEGIN
	 SELECT TOP 5 
            KhachHang.maKH, 
            KhachHang.tenKH, 
            KhachHang.soDienThoai, 
            KhachHang.gioiTinh, 
            KhachHang.ngayDangKy,
            COUNT(DISTINCT HoaDon.maHoaDon) AS soLuongDonHang, 
            SUM(
                CASE
                    WHEN HoaDon.maKhuyenMai IS NOT NULL THEN
                        chiTietTongTien.TongTien * (1 - KhuyenMai.phanTramKhuyenMai / 100.0)
                    ELSE
                        chiTietTongTien.TongTien
                END
            ) AS tongTien,
            SUM(chiTietTongTien.TongSoLuong) AS tongSoLuongSanPham
        FROM KhachHang
        JOIN HoaDon ON KhachHang.maKH = HoaDon.maKH
        LEFT JOIN KhuyenMai ON HoaDon.maKhuyenMai = KhuyenMai.maKhuyenMai
        LEFT JOIN (
            SELECT ChiTietHoaDon.maHoaDon, SUM(soLuong * gia) AS TongTien, SUM(soLuong) AS TongSoLuong
            FROM ChiTietHoaDon
            GROUP BY ChiTietHoaDon.maHoaDon
        ) chiTietTongTien ON HoaDon.maHoaDon = chiTietTongTien.maHoaDon
		WHERE MONTH(HoaDon.ngayLapHoaDon) = @Month AND YEAR(HoaDon.ngayLapHoaDon) = @Year
        GROUP BY KhachHang.maKH, KhachHang.tenKH, KhachHang.soDienThoai, KhachHang.gioiTinh, KhachHang.ngayDangKy
        ORDER BY tongTien DESC; 
    END
END;

---------------------------------------------------------------------------------------------------------------------- Top 5 khách hàng tổng chi thấp nhất
GO
CREATE PROCEDURE KhachHangTuyChinhTongChiThapNhat
	@StartDate DATE = NULL,
    @EndDate DATE = NULL
AS
BEGIN
	IF (@StartDate IS NULL OR @EndDate IS NULL )
	BEGIN
		SELECT TOP 5 
            KhachHang.maKH, 
            KhachHang.tenKH, 
            KhachHang.soDienThoai, 
            KhachHang.gioiTinh, 
            KhachHang.ngayDangKy,
            COUNT(DISTINCT HoaDon.maHoaDon) AS soLuongDonHang, 
            SUM(
                CASE
                    WHEN HoaDon.maKhuyenMai IS NOT NULL THEN
                        chiTietTongTien.TongTien * (1 - KhuyenMai.phanTramKhuyenMai / 100.0)
                    ELSE
                        chiTietTongTien.TongTien
                END
            ) AS tongTien,
            SUM(chiTietTongTien.TongSoLuong) AS tongSoLuongSanPham
        FROM KhachHang
        JOIN HoaDon ON KhachHang.maKH = HoaDon.maKH
        LEFT JOIN KhuyenMai ON HoaDon.maKhuyenMai = KhuyenMai.maKhuyenMai
        LEFT JOIN (
            SELECT ChiTietHoaDon.maHoaDon, SUM(soLuong * gia) AS TongTien, SUM(soLuong) AS TongSoLuong
            FROM ChiTietHoaDon
            GROUP BY ChiTietHoaDon.maHoaDon
        ) chiTietTongTien ON HoaDon.maHoaDon = chiTietTongTien.maHoaDon
        GROUP BY KhachHang.maKH, KhachHang.tenKH, KhachHang.soDienThoai, KhachHang.gioiTinh, KhachHang.ngayDangKy
        ORDER BY tongTien ASC; 
	END;
	ELSE
	BEGIN
	   SELECT TOP 5 
            KhachHang.maKH, 
            KhachHang.tenKH, 
            KhachHang.soDienThoai, 
            KhachHang.gioiTinh, 
            KhachHang.ngayDangKy,
            COUNT(DISTINCT HoaDon.maHoaDon) AS soLuongDonHang, 
            SUM(
                CASE
                    WHEN HoaDon.maKhuyenMai IS NOT NULL THEN
                        chiTietTongTien.TongTien * (1 - KhuyenMai.phanTramKhuyenMai / 100.0)
                    ELSE
                        chiTietTongTien.TongTien
                END
            ) AS tongTien,
            SUM(chiTietTongTien.TongSoLuong) AS tongSoLuongSanPham
        FROM KhachHang
        JOIN HoaDon ON KhachHang.maKH = HoaDon.maKH
        LEFT JOIN KhuyenMai ON HoaDon.maKhuyenMai = KhuyenMai.maKhuyenMai
        LEFT JOIN (
            SELECT ChiTietHoaDon.maHoaDon, SUM(soLuong * gia) AS TongTien, SUM(soLuong) AS TongSoLuong
            FROM ChiTietHoaDon
            GROUP BY ChiTietHoaDon.maHoaDon
        ) chiTietTongTien ON HoaDon.maHoaDon = chiTietTongTien.maHoaDon
		WHERE HoaDon.ngayLapHoaDon BETWEEN @StartDate AND @EndDate
        GROUP BY KhachHang.maKH, KhachHang.tenKH, KhachHang.soDienThoai, KhachHang.gioiTinh, KhachHang.ngayDangKy
        ORDER BY tongTien ASC; 
	END;
END;

GO
CREATE PROCEDURE KhachHangThangNamTongChiThapNhat
    @Month int,
    @Year int
AS
BEGIN
    IF @Month = 0
    BEGIN
	SELECT TOP 5 
            KhachHang.maKH, 
            KhachHang.tenKH, 
            KhachHang.soDienThoai, 
            KhachHang.gioiTinh, 
            KhachHang.ngayDangKy,
            COUNT(DISTINCT HoaDon.maHoaDon) AS soLuongDonHang, 
            SUM(
                CASE
                    WHEN HoaDon.maKhuyenMai IS NOT NULL THEN
                        chiTietTongTien.TongTien * (1 - KhuyenMai.phanTramKhuyenMai / 100.0)
                    ELSE
                        chiTietTongTien.TongTien
                END
            ) AS tongTien,
            SUM(chiTietTongTien.TongSoLuong) AS tongSoLuongSanPham
        FROM KhachHang
        JOIN HoaDon ON KhachHang.maKH = HoaDon.maKH
        LEFT JOIN KhuyenMai ON HoaDon.maKhuyenMai = KhuyenMai.maKhuyenMai
        LEFT JOIN (
            SELECT ChiTietHoaDon.maHoaDon, SUM(soLuong * gia) AS TongTien, SUM(soLuong) AS TongSoLuong
            FROM ChiTietHoaDon
            GROUP BY ChiTietHoaDon.maHoaDon
        ) chiTietTongTien ON HoaDon.maHoaDon = chiTietTongTien.maHoaDon
		WHERE YEAR(HoaDon.ngayLapHoaDon ) = @Year
        GROUP BY KhachHang.maKH, KhachHang.tenKH, KhachHang.soDienThoai, KhachHang.gioiTinh, KhachHang.ngayDangKy
        ORDER BY tongTien ASC;
    END
    ELSE
    BEGIN
	 SELECT TOP 5 
            KhachHang.maKH, 
            KhachHang.tenKH, 
            KhachHang.soDienThoai, 
            KhachHang.gioiTinh, 
            KhachHang.ngayDangKy,
            COUNT(DISTINCT HoaDon.maHoaDon) AS soLuongDonHang, 
            SUM(
                CASE
                    WHEN HoaDon.maKhuyenMai IS NOT NULL THEN
                        chiTietTongTien.TongTien * (1 - KhuyenMai.phanTramKhuyenMai / 100.0)
                    ELSE
                        chiTietTongTien.TongTien
                END
            ) AS tongTien,
            SUM(chiTietTongTien.TongSoLuong) AS tongSoLuongSanPham
        FROM KhachHang
        JOIN HoaDon ON KhachHang.maKH = HoaDon.maKH
        LEFT JOIN KhuyenMai ON HoaDon.maKhuyenMai = KhuyenMai.maKhuyenMai
        LEFT JOIN (
            SELECT ChiTietHoaDon.maHoaDon, SUM(soLuong * gia) AS TongTien, SUM(soLuong) AS TongSoLuong
            FROM ChiTietHoaDon
            GROUP BY ChiTietHoaDon.maHoaDon
        ) chiTietTongTien ON HoaDon.maHoaDon = chiTietTongTien.maHoaDon
		WHERE MONTH(HoaDon.ngayLapHoaDon) = @Month AND YEAR(HoaDon.ngayLapHoaDon) = @Year
        GROUP BY KhachHang.maKH, KhachHang.tenKH, KhachHang.soDienThoai, KhachHang.gioiTinh, KhachHang.ngayDangKy
        ORDER BY tongTien ASC; 
    END
END;
---------------------------------------------------------------------------------------------------------------------- Top 5 khách hàng mua hàng nhiều nhất
GO
CREATE PROCEDURE KhachHangTuyChinhMuaHangNhieuNhat
	@StartDate DATE = NULL,
    @EndDate DATE = NULL
AS
BEGIN
	IF (@StartDate IS NULL OR @EndDate IS NULL )
	BEGIN
		SELECT TOP 5 
            KhachHang.maKH, 
            KhachHang.tenKH, 
            KhachHang.soDienThoai, 
            KhachHang.gioiTinh, 
            KhachHang.ngayDangKy,
            COUNT(DISTINCT HoaDon.maHoaDon) AS soLuongDonHang, 
            SUM(
                CASE
                    WHEN HoaDon.maKhuyenMai IS NOT NULL THEN
                        chiTietTongTien.TongTien * (1 - KhuyenMai.phanTramKhuyenMai / 100.0)
                    ELSE
                        chiTietTongTien.TongTien
                END
            ) AS tongTien,
            SUM(chiTietTongTien.TongSoLuong) AS tongSoLuongSanPham
        FROM KhachHang
        JOIN HoaDon ON KhachHang.maKH = HoaDon.maKH
        LEFT JOIN KhuyenMai ON HoaDon.maKhuyenMai = KhuyenMai.maKhuyenMai
        LEFT JOIN (
            SELECT ChiTietHoaDon.maHoaDon, SUM(soLuong * gia) AS TongTien, SUM(soLuong) AS TongSoLuong
            FROM ChiTietHoaDon
            GROUP BY ChiTietHoaDon.maHoaDon
        ) chiTietTongTien ON HoaDon.maHoaDon = chiTietTongTien.maHoaDon
        GROUP BY KhachHang.maKH, KhachHang.tenKH, KhachHang.soDienThoai, KhachHang.gioiTinh, KhachHang.ngayDangKy
        ORDER BY SUM(chiTietTongTien.TongSoLuong) DESC; 
	   
	END;
	ELSE
	BEGIN
	   SELECT TOP 5 
            KhachHang.maKH, 
            KhachHang.tenKH, 
            KhachHang.soDienThoai, 
            KhachHang.gioiTinh, 
            KhachHang.ngayDangKy,
            COUNT(DISTINCT HoaDon.maHoaDon) AS soLuongDonHang, 
            SUM(
                CASE
                    WHEN HoaDon.maKhuyenMai IS NOT NULL THEN
                        chiTietTongTien.TongTien * (1 - KhuyenMai.phanTramKhuyenMai / 100.0)
                    ELSE
                        chiTietTongTien.TongTien
                END
            ) AS tongTien,
            SUM(chiTietTongTien.TongSoLuong) AS tongSoLuongSanPham
        FROM KhachHang
        JOIN HoaDon ON KhachHang.maKH = HoaDon.maKH
        LEFT JOIN KhuyenMai ON HoaDon.maKhuyenMai = KhuyenMai.maKhuyenMai
        LEFT JOIN (
            SELECT ChiTietHoaDon.maHoaDon, SUM(soLuong * gia) AS TongTien, SUM(soLuong) AS TongSoLuong
            FROM ChiTietHoaDon
            GROUP BY ChiTietHoaDon.maHoaDon
        ) chiTietTongTien ON HoaDon.maHoaDon = chiTietTongTien.maHoaDon
		WHERE HoaDon.ngayLapHoaDon BETWEEN @StartDate AND @EndDate
        GROUP BY KhachHang.maKH, KhachHang.tenKH, KhachHang.soDienThoai, KhachHang.gioiTinh, KhachHang.ngayDangKy
        ORDER BY SUM(chiTietTongTien.TongSoLuong) DESC; 
	END;
END;

GO
CREATE PROCEDURE KhachHangThangNamMuaHangNhieuNhat
    @Month int,
    @Year int
AS
BEGIN
    IF @Month = 0
    BEGIN
	SELECT TOP 5 
            KhachHang.maKH, 
            KhachHang.tenKH, 
            KhachHang.soDienThoai, 
            KhachHang.gioiTinh, 
            KhachHang.ngayDangKy,
            COUNT(DISTINCT HoaDon.maHoaDon) AS soLuongDonHang, 
            SUM(
                CASE
                    WHEN HoaDon.maKhuyenMai IS NOT NULL THEN
                        chiTietTongTien.TongTien * (1 - KhuyenMai.phanTramKhuyenMai / 100.0)
                    ELSE
                        chiTietTongTien.TongTien
                END
            ) AS tongTien,
            SUM(chiTietTongTien.TongSoLuong) AS tongSoLuongSanPham
        FROM KhachHang
        JOIN HoaDon ON KhachHang.maKH = HoaDon.maKH
        LEFT JOIN KhuyenMai ON HoaDon.maKhuyenMai = KhuyenMai.maKhuyenMai
        LEFT JOIN (
            SELECT ChiTietHoaDon.maHoaDon, SUM(soLuong * gia) AS TongTien, SUM(soLuong) AS TongSoLuong
            FROM ChiTietHoaDon
            GROUP BY ChiTietHoaDon.maHoaDon
        ) chiTietTongTien ON HoaDon.maHoaDon = chiTietTongTien.maHoaDon
		WHERE YEAR(HoaDon.ngayLapHoaDon ) = @Year
        GROUP BY KhachHang.maKH, KhachHang.tenKH, KhachHang.soDienThoai, KhachHang.gioiTinh, KhachHang.ngayDangKy
        ORDER BY SUM(chiTietTongTien.TongSoLuong) DESC; 
    END
    ELSE
    BEGIN
	 SELECT TOP 5 
            KhachHang.maKH, 
            KhachHang.tenKH, 
            KhachHang.soDienThoai, 
            KhachHang.gioiTinh, 
            KhachHang.ngayDangKy,
            COUNT(DISTINCT HoaDon.maHoaDon) AS soLuongDonHang, 
            SUM(
                CASE
                    WHEN HoaDon.maKhuyenMai IS NOT NULL THEN
                        chiTietTongTien.TongTien * (1 - KhuyenMai.phanTramKhuyenMai / 100.0)
                    ELSE
                        chiTietTongTien.TongTien
                END
            ) AS tongTien,
            SUM(chiTietTongTien.TongSoLuong) AS tongSoLuongSanPham
        FROM KhachHang
        JOIN HoaDon ON KhachHang.maKH = HoaDon.maKH
        LEFT JOIN KhuyenMai ON HoaDon.maKhuyenMai = KhuyenMai.maKhuyenMai
        LEFT JOIN (
            SELECT ChiTietHoaDon.maHoaDon, SUM(soLuong * gia) AS TongTien, SUM(soLuong) AS TongSoLuong
            FROM ChiTietHoaDon
            GROUP BY ChiTietHoaDon.maHoaDon
        ) chiTietTongTien ON HoaDon.maHoaDon = chiTietTongTien.maHoaDon
		WHERE MONTH(HoaDon.ngayLapHoaDon) = @Month AND YEAR(HoaDon.ngayLapHoaDon) = @Year
        GROUP BY KhachHang.maKH, KhachHang.tenKH, KhachHang.soDienThoai, KhachHang.gioiTinh, KhachHang.ngayDangKy
        ORDER BY SUM(chiTietTongTien.TongSoLuong) DESC;  
    END
END;

---------------------------------------------------------------------------------------------------------------------- Top 5 khách hàng mua hàng  ít nhất
GO
CREATE PROCEDURE KhachHangTuyChinhMuaHangItNhat
	@StartDate DATE = NULL,
    @EndDate DATE = NULL
AS
BEGIN
	IF (@StartDate IS NULL OR @EndDate IS NULL )
	BEGIN
		SELECT TOP 5 
            KhachHang.maKH, 
            KhachHang.tenKH, 
            KhachHang.soDienThoai, 
            KhachHang.gioiTinh, 
            KhachHang.ngayDangKy,
            COUNT(DISTINCT HoaDon.maHoaDon) AS soLuongDonHang, 
            SUM(
                CASE
                    WHEN HoaDon.maKhuyenMai IS NOT NULL THEN
                        chiTietTongTien.TongTien * (1 - KhuyenMai.phanTramKhuyenMai / 100.0)
                    ELSE
                        chiTietTongTien.TongTien
                END
            ) AS tongTien,
            SUM(chiTietTongTien.TongSoLuong) AS tongSoLuongSanPham
        FROM KhachHang
        JOIN HoaDon ON KhachHang.maKH = HoaDon.maKH
        LEFT JOIN KhuyenMai ON HoaDon.maKhuyenMai = KhuyenMai.maKhuyenMai
        LEFT JOIN (
            SELECT ChiTietHoaDon.maHoaDon, SUM(soLuong * gia) AS TongTien, SUM(soLuong) AS TongSoLuong
            FROM ChiTietHoaDon
            GROUP BY ChiTietHoaDon.maHoaDon
        ) chiTietTongTien ON HoaDon.maHoaDon = chiTietTongTien.maHoaDon
        GROUP BY KhachHang.maKH, KhachHang.tenKH, KhachHang.soDienThoai, KhachHang.gioiTinh, KhachHang.ngayDangKy
        ORDER BY SUM(chiTietTongTien.TongSoLuong) ASC; 
	END;
	ELSE
	BEGIN
	   SELECT TOP 5 
            KhachHang.maKH, 
            KhachHang.tenKH, 
            KhachHang.soDienThoai, 
            KhachHang.gioiTinh, 
            KhachHang.ngayDangKy,
            COUNT(DISTINCT HoaDon.maHoaDon) AS soLuongDonHang, 
            SUM(
                CASE
                    WHEN HoaDon.maKhuyenMai IS NOT NULL THEN
                        chiTietTongTien.TongTien * (1 - KhuyenMai.phanTramKhuyenMai / 100.0)
                    ELSE
                        chiTietTongTien.TongTien
                END
            ) AS tongTien,
            SUM(chiTietTongTien.TongSoLuong) AS tongSoLuongSanPham
        FROM KhachHang
        JOIN HoaDon ON KhachHang.maKH = HoaDon.maKH
        LEFT JOIN KhuyenMai ON HoaDon.maKhuyenMai = KhuyenMai.maKhuyenMai
        LEFT JOIN (
            SELECT ChiTietHoaDon.maHoaDon, SUM(soLuong * gia) AS TongTien, SUM(soLuong) AS TongSoLuong
            FROM ChiTietHoaDon
            GROUP BY ChiTietHoaDon.maHoaDon
        ) chiTietTongTien ON HoaDon.maHoaDon = chiTietTongTien.maHoaDon
		WHERE HoaDon.ngayLapHoaDon BETWEEN @StartDate AND @EndDate
        GROUP BY KhachHang.maKH, KhachHang.tenKH, KhachHang.soDienThoai, KhachHang.gioiTinh, KhachHang.ngayDangKy
        ORDER BY SUM(chiTietTongTien.TongSoLuong) ASC; 
	END;
END;

GO
CREATE PROCEDURE KhachHangThangNamMuaHangItNhat
    @Month int,
    @Year int
AS
BEGIN
    IF @Month = 0
    BEGIN
	SELECT TOP 5 
            KhachHang.maKH, 
            KhachHang.tenKH, 
            KhachHang.soDienThoai, 
            KhachHang.gioiTinh, 
            KhachHang.ngayDangKy,
            COUNT(DISTINCT HoaDon.maHoaDon) AS soLuongDonHang, 
            SUM(
                CASE
                    WHEN HoaDon.maKhuyenMai IS NOT NULL THEN
                        chiTietTongTien.TongTien * (1 - KhuyenMai.phanTramKhuyenMai / 100.0)
                    ELSE
                        chiTietTongTien.TongTien
                END
            ) AS tongTien,
            SUM(chiTietTongTien.TongSoLuong) AS tongSoLuongSanPham
        FROM KhachHang
        JOIN HoaDon ON KhachHang.maKH = HoaDon.maKH
        LEFT JOIN KhuyenMai ON HoaDon.maKhuyenMai = KhuyenMai.maKhuyenMai
        LEFT JOIN (
            SELECT ChiTietHoaDon.maHoaDon, SUM(soLuong * gia) AS TongTien, SUM(soLuong) AS TongSoLuong
            FROM ChiTietHoaDon
            GROUP BY ChiTietHoaDon.maHoaDon
        ) chiTietTongTien ON HoaDon.maHoaDon = chiTietTongTien.maHoaDon
		WHERE YEAR(HoaDon.ngayLapHoaDon ) = @Year
        GROUP BY KhachHang.maKH, KhachHang.tenKH, KhachHang.soDienThoai, KhachHang.gioiTinh, KhachHang.ngayDangKy
        ORDER BY SUM(chiTietTongTien.TongSoLuong) ASC; 
    END
    ELSE
    BEGIN
	 SELECT TOP 5 
            KhachHang.maKH, 
            KhachHang.tenKH, 
            KhachHang.soDienThoai, 
            KhachHang.gioiTinh, 
            KhachHang.ngayDangKy,
            COUNT(DISTINCT HoaDon.maHoaDon) AS soLuongDonHang, 
            SUM(
                CASE
                    WHEN HoaDon.maKhuyenMai IS NOT NULL THEN
                        chiTietTongTien.TongTien * (1 - KhuyenMai.phanTramKhuyenMai / 100.0)
                    ELSE
                        chiTietTongTien.TongTien
                END
            ) AS tongTien,
            SUM(chiTietTongTien.TongSoLuong) AS tongSoLuongSanPham
        FROM KhachHang
        JOIN HoaDon ON KhachHang.maKH = HoaDon.maKH
        LEFT JOIN KhuyenMai ON HoaDon.maKhuyenMai = KhuyenMai.maKhuyenMai
        LEFT JOIN (
            SELECT ChiTietHoaDon.maHoaDon, SUM(soLuong * gia) AS TongTien, SUM(soLuong) AS TongSoLuong
            FROM ChiTietHoaDon
            GROUP BY ChiTietHoaDon.maHoaDon
        ) chiTietTongTien ON HoaDon.maHoaDon = chiTietTongTien.maHoaDon
		WHERE MONTH(HoaDon.ngayLapHoaDon) = @Month AND YEAR(HoaDon.ngayLapHoaDon) = @Year
        GROUP BY KhachHang.maKH, KhachHang.tenKH, KhachHang.soDienThoai, KhachHang.gioiTinh, KhachHang.ngayDangKy
        ORDER BY SUM(chiTietTongTien.TongSoLuong) ASC;  
    END
END;
---------------------------------------------------------------------------------------------------------------------- Top 5 khách hàng thường xuyên mua hàng nhất
GO
CREATE PROCEDURE KhachHangTuyChinhThuongXuyenMuaHang
	@StartDate DATE = NULL,
    @EndDate DATE = NULL
AS
BEGIN
	IF (@StartDate IS NULL OR @EndDate IS NULL )
	BEGIN
		SELECT TOP 5 
            KhachHang.maKH, 
            KhachHang.tenKH, 
            KhachHang.soDienThoai, 
            KhachHang.gioiTinh, 
            KhachHang.ngayDangKy,
            COUNT(DISTINCT HoaDon.maHoaDon) AS soLuongDonHang, 
            SUM(
                CASE
                    WHEN HoaDon.maKhuyenMai IS NOT NULL THEN
                        chiTietTongTien.TongTien * (1 - KhuyenMai.phanTramKhuyenMai / 100.0)
                    ELSE
                        chiTietTongTien.TongTien
                END
            ) AS tongTien,
            SUM(chiTietTongTien.TongSoLuong) AS tongSoLuongSanPham
        FROM KhachHang
        JOIN HoaDon ON KhachHang.maKH = HoaDon.maKH
        LEFT JOIN KhuyenMai ON HoaDon.maKhuyenMai = KhuyenMai.maKhuyenMai
        LEFT JOIN (
            SELECT ChiTietHoaDon.maHoaDon, SUM(soLuong * gia) AS TongTien, SUM(soLuong) AS TongSoLuong
            FROM ChiTietHoaDon
            GROUP BY ChiTietHoaDon.maHoaDon
        ) chiTietTongTien ON HoaDon.maHoaDon = chiTietTongTien.maHoaDon
        GROUP BY KhachHang.maKH, KhachHang.tenKH, KhachHang.soDienThoai, KhachHang.gioiTinh, KhachHang.ngayDangKy
        ORDER BY soLuongDonHang DESC; 
	END;
	ELSE
	BEGIN
	   SELECT TOP 5 
            KhachHang.maKH, 
            KhachHang.tenKH, 
            KhachHang.soDienThoai, 
            KhachHang.gioiTinh, 
            KhachHang.ngayDangKy,
            COUNT(DISTINCT HoaDon.maHoaDon) AS soLuongDonHang, 
            SUM(
                CASE
                    WHEN HoaDon.maKhuyenMai IS NOT NULL THEN
                        chiTietTongTien.TongTien * (1 - KhuyenMai.phanTramKhuyenMai / 100.0)
                    ELSE
                        chiTietTongTien.TongTien
                END
            ) AS tongTien,
            SUM(chiTietTongTien.TongSoLuong) AS tongSoLuongSanPham
        FROM KhachHang
        JOIN HoaDon ON KhachHang.maKH = HoaDon.maKH
        LEFT JOIN KhuyenMai ON HoaDon.maKhuyenMai = KhuyenMai.maKhuyenMai
        LEFT JOIN (
            SELECT ChiTietHoaDon.maHoaDon, SUM(soLuong * gia) AS TongTien, SUM(soLuong) AS TongSoLuong
            FROM ChiTietHoaDon
            GROUP BY ChiTietHoaDon.maHoaDon
        ) chiTietTongTien ON HoaDon.maHoaDon = chiTietTongTien.maHoaDon
		WHERE HoaDon.ngayLapHoaDon BETWEEN @StartDate AND @EndDate
        GROUP BY KhachHang.maKH, KhachHang.tenKH, KhachHang.soDienThoai, KhachHang.gioiTinh, KhachHang.ngayDangKy
        ORDER BY soLuongDonHang DESC; 
	END;
END;

GO
CREATE PROCEDURE KhachHangThangNamThuongXuyenMuaHang
    @Month int,
    @Year int
AS
BEGIN
    IF @Month = 0
    BEGIN
	SELECT TOP 5 
            KhachHang.maKH, 
            KhachHang.tenKH, 
            KhachHang.soDienThoai, 
            KhachHang.gioiTinh, 
            KhachHang.ngayDangKy,
            COUNT(DISTINCT HoaDon.maHoaDon) AS soLuongDonHang, 
            SUM(
                CASE
                    WHEN HoaDon.maKhuyenMai IS NOT NULL THEN
                        chiTietTongTien.TongTien * (1 - KhuyenMai.phanTramKhuyenMai / 100.0)
                    ELSE
                        chiTietTongTien.TongTien
                END
            ) AS tongTien,
            SUM(chiTietTongTien.TongSoLuong) AS tongSoLuongSanPham
        FROM KhachHang
        JOIN HoaDon ON KhachHang.maKH = HoaDon.maKH
        LEFT JOIN KhuyenMai ON HoaDon.maKhuyenMai = KhuyenMai.maKhuyenMai
        LEFT JOIN (
            SELECT ChiTietHoaDon.maHoaDon, SUM(soLuong * gia) AS TongTien, SUM(soLuong) AS TongSoLuong
            FROM ChiTietHoaDon
            GROUP BY ChiTietHoaDon.maHoaDon
        ) chiTietTongTien ON HoaDon.maHoaDon = chiTietTongTien.maHoaDon
		WHERE YEAR(HoaDon.ngayLapHoaDon ) = @Year
        GROUP BY KhachHang.maKH, KhachHang.tenKH, KhachHang.soDienThoai, KhachHang.gioiTinh, KhachHang.ngayDangKy
        ORDER BY soLuongDonHang DESC; 
    END
    ELSE
    BEGIN
	 SELECT TOP 5 
            KhachHang.maKH, 
            KhachHang.tenKH, 
            KhachHang.soDienThoai, 
            KhachHang.gioiTinh, 
            KhachHang.ngayDangKy,
            COUNT(DISTINCT HoaDon.maHoaDon) AS soLuongDonHang, 
            SUM(
                CASE
                    WHEN HoaDon.maKhuyenMai IS NOT NULL THEN
                        chiTietTongTien.TongTien * (1 - KhuyenMai.phanTramKhuyenMai / 100.0)
                    ELSE
                        chiTietTongTien.TongTien
                END
            ) AS tongTien,
            SUM(chiTietTongTien.TongSoLuong) AS tongSoLuongSanPham
        FROM KhachHang
        JOIN HoaDon ON KhachHang.maKH = HoaDon.maKH
        LEFT JOIN KhuyenMai ON HoaDon.maKhuyenMai = KhuyenMai.maKhuyenMai
        LEFT JOIN (
            SELECT ChiTietHoaDon.maHoaDon, SUM(soLuong * gia) AS TongTien, SUM(soLuong) AS TongSoLuong
            FROM ChiTietHoaDon
            GROUP BY ChiTietHoaDon.maHoaDon
        ) chiTietTongTien ON HoaDon.maHoaDon = chiTietTongTien.maHoaDon
		WHERE MONTH(HoaDon.ngayLapHoaDon) = @Month AND YEAR(HoaDon.ngayLapHoaDon) = @Year
        GROUP BY KhachHang.maKH, KhachHang.tenKH, KhachHang.soDienThoai, KhachHang.gioiTinh, KhachHang.ngayDangKy
        ORDER BY soLuongDonHang DESC;  
    END
END;
---------------------------------------------------------------------------------------------------------------------- Top 5 khách hàng không thường xuyên mua hàng nhất
GO
CREATE PROCEDURE KhachHangTuyChinhKhongThuongXuyenMuaHang
	@StartDate DATE = NULL,
    @EndDate DATE = NULL
AS
BEGIN
	IF (@StartDate IS NULL OR @EndDate IS NULL )
	BEGIN
		SELECT TOP 5 
            KhachHang.maKH, 
            KhachHang.tenKH, 
            KhachHang.soDienThoai, 
            KhachHang.gioiTinh, 
            KhachHang.ngayDangKy,
            COUNT(DISTINCT HoaDon.maHoaDon) AS soLuongDonHang, 
            SUM(
                CASE
                    WHEN HoaDon.maKhuyenMai IS NOT NULL THEN
                        chiTietTongTien.TongTien * (1 - KhuyenMai.phanTramKhuyenMai / 100.0)
                    ELSE
                        chiTietTongTien.TongTien
                END
            ) AS tongTien,
            SUM(chiTietTongTien.TongSoLuong) AS tongSoLuongSanPham
        FROM KhachHang
        JOIN HoaDon ON KhachHang.maKH = HoaDon.maKH
        LEFT JOIN KhuyenMai ON HoaDon.maKhuyenMai = KhuyenMai.maKhuyenMai
        LEFT JOIN (
            SELECT ChiTietHoaDon.maHoaDon, SUM(soLuong * gia) AS TongTien, SUM(soLuong) AS TongSoLuong
            FROM ChiTietHoaDon
            GROUP BY ChiTietHoaDon.maHoaDon
        ) chiTietTongTien ON HoaDon.maHoaDon = chiTietTongTien.maHoaDon
        GROUP BY KhachHang.maKH, KhachHang.tenKH, KhachHang.soDienThoai, KhachHang.gioiTinh, KhachHang.ngayDangKy
        ORDER BY soLuongDonHang ASC; 
	END;
	ELSE
	BEGIN
	   SELECT TOP 5 
            KhachHang.maKH, 
            KhachHang.tenKH, 
            KhachHang.soDienThoai, 
            KhachHang.gioiTinh, 
            KhachHang.ngayDangKy,
            COUNT(DISTINCT HoaDon.maHoaDon) AS soLuongDonHang, 
            SUM(
                CASE
                    WHEN HoaDon.maKhuyenMai IS NOT NULL THEN
                        chiTietTongTien.TongTien * (1 - KhuyenMai.phanTramKhuyenMai / 100.0)
                    ELSE
                        chiTietTongTien.TongTien
                END
            ) AS tongTien,
            SUM(chiTietTongTien.TongSoLuong) AS tongSoLuongSanPham
        FROM KhachHang
        JOIN HoaDon ON KhachHang.maKH = HoaDon.maKH
        LEFT JOIN KhuyenMai ON HoaDon.maKhuyenMai = KhuyenMai.maKhuyenMai
        LEFT JOIN (
            SELECT ChiTietHoaDon.maHoaDon, SUM(soLuong * gia) AS TongTien, SUM(soLuong) AS TongSoLuong
            FROM ChiTietHoaDon
            GROUP BY ChiTietHoaDon.maHoaDon
        ) chiTietTongTien ON HoaDon.maHoaDon = chiTietTongTien.maHoaDon
		WHERE HoaDon.ngayLapHoaDon BETWEEN @StartDate AND @EndDate
        GROUP BY KhachHang.maKH, KhachHang.tenKH, KhachHang.soDienThoai, KhachHang.gioiTinh, KhachHang.ngayDangKy
        ORDER BY soLuongDonHang ASC; 
	END;
END;

GO
CREATE PROCEDURE KhachHangThangNamKhongThuongXuyenMuaHang
    @Month int,
    @Year int
AS
BEGIN
    IF @Month = 0
    BEGIN
	SELECT TOP 5 
            KhachHang.maKH, 
            KhachHang.tenKH, 
            KhachHang.soDienThoai, 
            KhachHang.gioiTinh, 
            KhachHang.ngayDangKy,
            COUNT(DISTINCT HoaDon.maHoaDon) AS soLuongDonHang, 
            SUM(
                CASE
                    WHEN HoaDon.maKhuyenMai IS NOT NULL THEN
                        chiTietTongTien.TongTien * (1 - KhuyenMai.phanTramKhuyenMai / 100.0)
                    ELSE
                        chiTietTongTien.TongTien
                END
            ) AS tongTien,
            SUM(chiTietTongTien.TongSoLuong) AS tongSoLuongSanPham
        FROM KhachHang
        JOIN HoaDon ON KhachHang.maKH = HoaDon.maKH
        LEFT JOIN KhuyenMai ON HoaDon.maKhuyenMai = KhuyenMai.maKhuyenMai
        LEFT JOIN (
            SELECT ChiTietHoaDon.maHoaDon, SUM(soLuong * gia) AS TongTien, SUM(soLuong) AS TongSoLuong
            FROM ChiTietHoaDon
            GROUP BY ChiTietHoaDon.maHoaDon
        ) chiTietTongTien ON HoaDon.maHoaDon = chiTietTongTien.maHoaDon
		WHERE YEAR(HoaDon.ngayLapHoaDon ) = @Year
        GROUP BY KhachHang.maKH, KhachHang.tenKH, KhachHang.soDienThoai, KhachHang.gioiTinh, KhachHang.ngayDangKy
        ORDER BY soLuongDonHang ASC;  
    END
    ELSE
    BEGIN
	 SELECT TOP 5 
            KhachHang.maKH, 
            KhachHang.tenKH, 
            KhachHang.soDienThoai, 
            KhachHang.gioiTinh, 
            KhachHang.ngayDangKy,
            COUNT(DISTINCT HoaDon.maHoaDon) AS soLuongDonHang, 
            SUM(
                CASE
                    WHEN HoaDon.maKhuyenMai IS NOT NULL THEN
                        chiTietTongTien.TongTien * (1 - KhuyenMai.phanTramKhuyenMai / 100.0)
                    ELSE
                        chiTietTongTien.TongTien
                END
            ) AS tongTien,
            SUM(chiTietTongTien.TongSoLuong) AS tongSoLuongSanPham
        FROM KhachHang
        JOIN HoaDon ON KhachHang.maKH = HoaDon.maKH
        LEFT JOIN KhuyenMai ON HoaDon.maKhuyenMai = KhuyenMai.maKhuyenMai
        LEFT JOIN (
            SELECT ChiTietHoaDon.maHoaDon, SUM(soLuong * gia) AS TongTien, SUM(soLuong) AS TongSoLuong
            FROM ChiTietHoaDon
            GROUP BY ChiTietHoaDon.maHoaDon
        ) chiTietTongTien ON HoaDon.maHoaDon = chiTietTongTien.maHoaDon
		WHERE MONTH(HoaDon.ngayLapHoaDon) = @Month AND YEAR(HoaDon.ngayLapHoaDon) = @Year
        GROUP BY KhachHang.maKH, KhachHang.tenKH, KhachHang.soDienThoai, KhachHang.gioiTinh, KhachHang.ngayDangKy
        ORDER BY soLuongDonHang ASC;  
    END
END;
GO
GO
CREATE PROCEDURE TimKhachHang
    @maKH varchar(50) = NULL,
	@tenKH nvarchar(255) = NULL,
	@email varchar(50) = NULL,
	@soDienThoai varchar(12) = NULL,
	@gioiTinh nvarchar(10) =  NULL,
	@theVip nvarchar(30) = NULL

AS
BEGIN
    SELECT *
    FROM [dbo].[KhachHang]
    WHERE 
        (@maKH IS NULL OR maKH LIKE '%'+@maKH+'%')
        AND (@tenKH IS NULL OR tenKH LIKE '%'+@tenKH+'%')
		 AND (@email IS NULL OR email LIKE '%'+@email+'%' )
        AND (@soDienThoai IS NULL OR soDienThoai LIKE '%'+@soDienThoai+'%' )
		AND (@gioiTinh IS NULL OR gioiTinh LIKE '%'+@gioiTinh+'%' )
		AND (@theVip IS NULL OR theVip LIKE '%'+@theVip+'%' );
END;
